{% extends '_base.html' %}
{% load helpers %}
{% block content %}
      <div class="row">
      	<div class="col-md-6 col-md-offset-3">
          <form method="post">
            {% csrf_token %}
            {% for field in form.hidden_fields %}
            {{ field }}
            {% endfor %}
            <div class="panel panel-danger">
              <div class="panel-heading">{% block title %}Delete {{ configuration_template }}?{% endblock %}</div>
              <div class="panel-body">
                <p>Are you sure that you want to delete <strong>{{ configuration_template }}?</p>
                <div class="text-right">
                  <button type="submit" class="btn btn-danger">Confirm</button>
                  <a class="btn btn-default" href="{% url 'peering:configuration_template_details' id=configuration_template.id %}">Cancel</a>
                </div>
              </div>
            </div>
          </form>
      	</div>
      </div>
{% endblock %}
