{% extends '_base.html' %}
{% load helpers %}
{% block actions %}
{% if perms.peering.change_configurationtemplate %}
<a href="{% url 'peering:configuration_template_edit' pk=configuration_template.pk %}" class="btn btn-warning">
  <i class="fas fa-edit"></i> Edit
</a>
{% endif %}
{% if perms.peering.delete_configurationtemplate %}
<a href="{% url 'peering:configuration_template_delete' pk=configuration_template.pk %}" class="btn btn-danger">
  <i class="fas fa-trash"></i> Delete
</a>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'peering:configuration_template_list' %}">Configuration Templates</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ configuration_template }}</li>
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-2">
            <div class="card-header">
              <strong>Template Details</strong>
            </div>
            <table class="table table-hover card-body attr-table">
              <tr>
                <td>Name</td>
                <td>{{ configuration_template.name }}</td>
              </tr>
              <tr>
                <td>Last update</td>
                <td>{{ configuration_template.updated }}</td>
              </tr>
              <tr>
                <td>Utilization</td>
                <td>{% if internet_exchanges|length == 0 %}Used by only one Internet exchange{% else %}Used by {{ internet_exchanges|length }} Internet exchanges{% endif %}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-2">
            <div class="card-header">
              <strong>Comments</strong>
            </div>
            <div class="card-body">
              {% if autonomous_system.comment %}
              {{ autonomous_system.comment|markdown }}
              {% else %}
              <span class="text-muted">None</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <strong>Template</strong>
            </div>
            <pre class="pre-scrollable">{{ configuration_template.template }}</pre>
            <div class="card-footer">
              <i class="fa fa-info-circle"></i>
              <a href="https://github.com/respawner/peering-manager/wiki/configuration_template" target="_blank">Jinja2 template</a> syntax
            </div>
          </div>
        </div>
      </div>
{% endblock %}
