{% extends '_base.html' %}
{% load helpers %}
{% block content %}
      {% if request.user.is_authenticated %}
      <div class="pull-right">
        <a href="{% url 'peering:configuration_template_edit' pk=configuration_template.pk %}" class="btn btn-warning">
          <i class="fas fa-edit" aria-hidden="true"></i> Edit
        </a>
        <a href="{% url 'peering:configuration_template_delete' pk=configuration_template.pk %}" class="btn btn-danger">
          <i class="fas fa-trash" aria-hidden="true"></i> Delete
        </a>
      </div>
      {% endif %}
      <h1>{% block title %}{{ configuration_template }}{% endblock %}</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Template Details</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
              <tr>
                <td>Name</td>
                <td>{{ configuration_template.name }}</td>
              </tr>
              <tr>
                <td>Last update</td>
                <td>{{ configuration_template.updated }}</td>
              </tr>
              <tr>
                <td>Utilization</td>
                <td>{% if internet_exchanges|length == 0 %}Used by only one Internet exchange{% else %}Used by {{ internet_exchanges|length }} Internet exchanges{% endif %}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Comments</strong>
            </div>
            <div class="panel-body">
              {% if autonomous_system.comment %}
              {{ autonomous_system.comment|markdown }}
              {% else %}
              <span class="text-muted">None</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Template</strong>
            </div>
            <div class="panel-body">
              <pre>{{ configuration_template.template }}</pre>
            </div>
          </div>
      </div>
{% endblock %}
