{% extends '_base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
      {% if request.user.is_authenticated %}
      <div class="pull-right">
        <a href="{% url 'peering:configuration_template_add' %}" class="btn btn-primary">
          <span class="fa fa-plus" aria-hidden="true"></span>
          Add a Template
        </a>
      </div>
      {% endif %}
      <h1>{% block title %}Templates{% endblock %}</h1>
      <div class="row">
        {% render_table configuration_templates 'utils/table.html' %}
      </div>
{% endblock %}
