{% extends '_base.html' %}
{% load render_table from django_tables2 %}
{% block actions %}
{% if perms.devices.add_configuration %}
<a href="{% url 'devices:configuration_add' %}" class="btn btn-primary">
  <i class="fas fa-plus"></i> Add
</a>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">{% block title %}Configurations{% endblock %}</li>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-9">
    {% include 'generic/object_list.html' with table_modal='ConfigurationTable_config' bulk_delete_url='devices:configuration_bulk_delete' %}
  </div>
  <div class="col-md-3">
    {% include 'utils/search_form.html' %}
  </div>
</div>
{% endblock %}
