{% extends 'devices/configuration/_base.html' %}
{% load helpers %}
{% block subcontent %}
<div class="row">
  <div class="col-md-6">
    <div class="card mb-2">
      <div class="card-header"><strong>Details</strong></div>
      <table class="card-body table table-hover attr-table mb-0">
        <tr>
          <td>Name</td>
          <td>{{ instance.name }}</td>
        </tr>
        <tr>
          <td>Last updated</td>
          <td>{{ instance.updated | date_span }}</td>
        </tr>
        <tr>
          <td>Utilisation</td>
          <td>Used by {{ routers|length }} router{{ routers|length|pluralize }}</td>
        </tr>
        {% if instance.data_source %}
        <tr>
          <td>Data source</td>
          <td>{{ instance.data_source|as_link }}</td>
        </tr>
        {% endif %}
        {% if instance.data_file or instance.data_path %}
        <tr>
          <td>Data file</td>
          <td>
            {% if instance.data_file %}
            {{ instance.data_file|as_link }}
            {% elif instance.data_path %}
            <div class="float-end text-warning">
              <i class="fa-solid fa-triangle-exclamation" title="The data file associated with this configuration has been deleted."></i>
            </div>
            <span class="text-monospace">{{ instance.data_path }}</span>
            {% endif %}
          </td>
        </tr>
        {% endif %}
      </table>
    </div>
    <div class="card mb-2">
      <div class="card-header">
        <strong>Jinja2 Properties</strong>
        <div class="float-end">
          <a href="https://peering-manager.readthedocs.io/en/{{ settings.VERSION | doc_version }}/templating/" target="_blank"><i class="fa fa-info-circle"></i></a>
        </div>
      </div>
      <table class="card-body table table-hover attr-table mb-0">
        <tr>
          <td>Trim</td>
          <td>{{ instance.jinja2_trim|boolean_as_icon }}</td>
        </tr>
        <tr>
          <td>Lstrip</td>
          <td>{{ instance.jinja2_lstrip|boolean_as_icon }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><strong>Comments</strong></div>
      <div class="card-body">
        {% if instance.comments %}
        {{ instance.comments|markdown }}
        {% else %}
        <span class="text-muted">None</span>
        {% endif %}
      </div>
    </div>
    {% include 'includes/tags_card.html' with tags=instance.tags.all url='devices:configuration_list' %}
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card mt-2">
      <div class="card-header"><strong>Template</strong></div>
      <pre class="pre-scrollable">{{ instance.template }}</pre>
    </div>
  </div>
</div>
{% endblock %}
