{% extends 'peering/configuration/_base.html' %}
{% load helpers %}
{% block subcontent %}
<div class="row">
  <div class="col-md-6">
    <div class="card mb-2">
      <div class="card-header"><strong>Details</strong></div>
      <table class="card-body table table-hover attr-table mb-0">
        <tr>
          <td>Name</td>
          <td>{{ instance.name }}</td>
        </tr>
        <tr>
          <td>Trim</td>
          <td>
            {% if instance.jinja2_trim %}
            <i class="fas fa-check text-success"></i>
            {% else %}
            <i class="fas fa-times text-danger"></i>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Lstrip</td>
          <td>
            {% if instance.jinja2_lstrip %}
            <i class="fas fa-check text-success"></i>
            {% else %}
            <i class="fas fa-times text-danger"></i>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Last update</td>
          <td>{{ instance.updated | date_span }}</td>
        </tr>
        <tr>
          <td>Utilization</td>
          <td>Used by {{ routers|length }} router{{ routers|length|pluralize }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><strong>Comments</strong></div>
      <div class="card-body">
        {% if instance.comments %}
        {{ instance.comments|markdown }}
        {% else %}
        <span class="text-muted">None</span>
        {% endif %}
      </div>
    </div>
    {% include 'includes/tags_card.html' with tags=instance.tags.all url='peering:configuration_list' %}
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card mt-2">
      <div class="card-header"><strong>Template</strong></div>
      <pre class="pre-scrollable">{{ instance.template }}</pre>
      <div class="card-footer">
        <i class="fa fa-info-circle"></i>
        <a href="https://peering-manager.readthedocs.io/en/{{ settings.VERSION | doc_version }}/templating/" target="_blank">Jinja2 template</a> syntax
      </div>
    </div>
  </div>
</div>
{% endblock %}
