{% load helpers %}
{% load render_table from django_tables2 %}
<div class="htmx-container table-responsive">
  {% render_table table %}
  {% include 'includes/pagination.html' with paginator=table.paginator page=table.page %}
</div>

{% if request.htmx %}
  {# Keep peripherals coherent after a swap #}
  {% if not table.embedded %}
    <span hx-swap-oob="innerHTML:#objects_count">{{ table.rows|length }}</span>
    <input type="hidden" id="object-list-return-url" name="return_url" value="{{ request.get_full_path }}" hx-swap-oob="outerHTML:#object-list-return-url" />
  {% endif %}
{% endif %}
