{% extends '_base.html' %}
{% load helpers %}
{% block actions %}
{% if perms.peering.change_internetexchange %}
<a href="{% url 'peering:internet_exchange_edit' slug=internet_exchange.slug %}" class="btn btn-warning">
  <i class="fas fa-edit"></i> Edit
</a>
{% endif %}
{% if perms.peering.delete_internetexchange %}
<a href="{% url 'peering:internet_exchange_delete' slug=internet_exchange.slug %}" class="btn btn-danger">
  <i class="fas fa-trash"></i> Delete
</a>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'peering:internet_exchange_list' %}">Internet Exchanges</a></li>
<li class="breadcrumb-item active" aria-current="page">{% block title %}{{ internet_exchange }}{% endblock %}</li>
{% endblock %}
{% block content %}
      {% if not internet_exchange.is_peeringdb_valid %}
      <div class="alert alert-danger" role="alert">
        <i class="fas fa-exclamation-triangle"></i> This Internet Exchange is linked to <a href="https://peeringdb.com/" class="alert-link">PeeringDB</a> but it seems that its record has been deleted. You can <a href="https://peeringdb.com/api/netixlan?id={{ internet_exchange.peeringdb_id }}" class="alert-link">check it</a> or <a href="https://peeringdb.com/api/netixlan?{% if internet_exchange.ipv6_address %}ipaddr6={{ internet_exchange.ipv6_address }}{% else %}ipaddr4={{ internet_exchange.ipv4_address }}{% endif %}" class="alert-link">look for the new ID</a>.<br/>
        <small>* This message will not disappear until you fixed the issue.</small>
      </div>
      {% endif %}
      {% if internet_exchange.bgp_session_states_update %}
      <p><small class="text-muted">Last peering session states updated: {{ internet_exchange.bgp_session_states_update }}</small></p>
      {% endif %}
      {% if request.user.is_authenticated %}
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link{% if request.path|notcontains:'/peering-sessions/,/peers/,/configuration/' %} active{% endif %}" href="{% url 'peering:internet_exchange_details' slug=internet_exchange.slug %}">
            <i class="fas fa-info-circle"></i> Info
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path|contains:'/peering-sessions/' %} active{% endif %}" href="{% url 'peering:internet_exchange_peering_sessions' slug=internet_exchange.slug %}">
            <i class="fas fa-network-wired"></i> Peering Sessions
          </a>
        </li>
        {% if internet_exchange.peeringdb_id %}
        <li class="nav-item">
          <a class="nav-link{% if request.path|contains:'/peers/' %} active{% endif %}" href="{% url 'peering:internet_exchange_peers' slug=internet_exchange.slug %}">
            <i class="fas fa-link"></i> Available Peers
          </a>
        </li>
        {% endif %}
        {% if perms.peering.view_configuration_internetexchange and internet_exchange.configuration_template %}
        <li class="nav-item">
          <a class="nav-link{% if request.path|contains:'/configuration/' %} active{% endif %}" href="{% url 'peering:internet_exchange_configuration' slug=internet_exchange.slug %}">
            <i class="fas fa-terminal"></i> Configuration
          </a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
      {% block subcontent %}{% endblock %}
{% endblock %}
