{% extends '_base.html' %}
{% load helpers %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="pull-right">
  <a href="{% url 'peering:ix_edit' slug=internet_exchange.slug %}" class="btn btn-warning">
    <span class="fa fa-pencil" aria-hidden="true"></span> Edit
  </a>
  <a href="{% url 'peering:ix_delete' slug=internet_exchange.slug %}" class="btn btn-danger">
    <span class="fa fa-trash" aria-hidden="true"></span> Delete
  </a>
</div>
{% endif %}
<h1>{% block title %}{{ internet_exchange }}{% endblock %}</h1>
{% if internet_exchange.peeringdb_id or internet_exchange.configuration_template and request.user.is_authenticated %}
<ul class="nav nav-tabs">
  <li role="presentation" {% if request.path|notcontains:'/sessions/,/peers/,/config/,/changes/' %}class="active"{% endif %}>
    <a href="{% url 'peering:ix_details' slug=internet_exchange.slug %}">
      <span class="fa fa-info-circle" aria-hidden="true"></span>
      Info
    </a>
  </li>
  {% if peering_sessions_count > 0 %}
  <li role="presentation" {% if request.path|contains:'/sessions/' %}class="active"{% endif %}>
    <a href="{% url 'peering:ix_peering_sessions' slug=internet_exchange.slug %}">
      <span class="fa fa-sitemap" aria-hidden="true"></span>
      Peering Sessions
    </a>
  </li>
  {% endif %}
  {% if internet_exchange.peeringdb_id %}
  <li role="presentation" {% if request.path|contains:'/peers/' %}class="active"{% endif %}>
    <a href="{% url 'peering:ix_peers' slug=internet_exchange.slug %}">
      <span class="fa fa-link" aria-hidden="true"></span>
      Available Peers
    </a>
  </li>
  {% endif %}
  {% if internet_exchange.configuration_template %}
  <li role="presentation" {% if request.path|contains:'/config/' %}class="active"{% endif %}>
    <a href="{% url 'peering:ix_configuration' slug=internet_exchange.slug %}">
      <span class="fa fa-terminal" aria-hidden="true"></span>
      Configuration
    </a>
  </li>
  {% endif %}
  {% if internet_exchange.router and internet_exchange.router.platform %}
  <li role="presentation" {% if request.path|contains:'/changes/' %}class="active"{% endif %}>
    <a href="{% url 'peering:ix_changes' slug=internet_exchange.slug %}">
      <span class="fa fa-cogs" aria-hidden="true"></span>
      Router Changes
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
{% block subcontent %}{% endblock %}
{% endblock %}
