{% extends 'peering/ix/_base.html' %}
{% block subcontent %}
      <div class="row">
        <div class="col-md-2">
          {% if perms.peering.deploy_configuration_internetexchange and internet_exchange.router and internet_exchange.router.platform %}
          <button type="button" class="btn btn-primary btn-block" id="router-diff">
            <i class="fa fa-cogs"></i> Deploy
          </button>
          {% endif %}
          <button type="button" class="btn btn-secondary btn-block" id="copy-config">
            <i class="fa fa-clipboard"></i> Copy
          </button>
        </div>
        <pre class="col-md-10 pre-scrollable"><code>{{ internet_exchange_configuration }}</code></pre>
      </div>
      {% if perms.peering.deploy_configuration_internetexchange and internet_exchange.router and internet_exchange.router.platform %}
      <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Configuration Differences</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="save-config">Commit changes</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
{% endblock %}
{% if perms.peering.deploy_configuration_internetexchange and internet_exchange.router and internet_exchange.router.platform %}
{% block javascript %}
    <script>
      // When the modal is closed, reset the button back to its defaults
      $('.modal').on('hidden.bs.modal', function(e) {
        $('#save-config').removeClass('btn-warning').removeClass('btn-danger').removeClass('btn-success').addClass('btn-primary').removeAttr('disabled').html('Commit changes').show();
      });

      // Bind copy to clipboard function to the button
      $('#copy-config').click(function() {
        var $temp = $('<textarea>');
        $('body').append($temp);
        $temp.val($('.pre-scrollable').text()).select();
        document.execCommand('copy');
        $temp.remove();
      });

      // Bind check diff to button click
      $('#router-diff').click(function() {
        $.ajax({
          method: 'get',
          url: "{% url 'peering-api:internetexchange-configure-router' pk=internet_exchange.pk %}",
          beforeSend: function() {
            $('#router-diff').attr('disabled', 'disabled').removeClass('btn-primary').addClass('btn-warning').html('<i class="fas fa-sync fa-spin fa-fw"></i> Working');
          },
        }).done(function(response) {
          if (response['error']) {
            $('.modal-body').html('<p>An error occured while trying to check for changes.</p><p>The router may be unreachable, the configuration may be locked by another user or the configuration may be invalid.</p><p>You can find more details in the <code>logs/napalm.log</code> logs file or below.</p><pre class="pre-scrollable">' + response['error'] + '</pre>');
            $('#save-config').hide();
            $('.modal').modal('show');
          } else {
            if (response['changed']) {
              $('.modal-body').html('<pre class="pre-scrollable">' + response['changes'] + '</pre>');
              $('.modal').modal('show');
            } else {
              $('.modal-body').html('<p>No configuration differences found.</p>');
              $('#save-config').hide();
              $('.modal').modal('show');
            }
          }
        }).always(function() {
          $('#router-diff').removeClass('btn-warning').addClass('btn-primary').removeAttr('disabled').html('<i class="fas fa-cogs"></i> Deploy');
        });
      });

      // Bind save config to button click
      $('#save-config').click(function() {
        $.ajax({
          method: 'post',
          url: "{% url 'peering-api:internetexchange-configure-router' pk=internet_exchange.pk %}",
          data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
          beforeSend: function() {
            $('#save-config').attr('disabled', 'disabled').removeClass('btn-primary').addClass('btn-warning').html('<i class="fas fa-sync fa-spin fa-fw"></i> Working');
          }
        }).done(function(response) {
          // Consider failure
          var btn_class = 'btn-danger';
          var btn_code = '<i class="fas fa-times"></i> Configuration not saved';

          alert(response['error']);

          // If successful change button code and color
          if (response['success']) {
            var btn_class = 'btn-success';
            var btn_code = '<i class="fas fa-check"></i> Configuration saved';
          }

          $('#save-config').removeClass('btn-warning').addClass(btn_class).html(btn_code);
        });
      });
    </script>
{% endblock %}
{% endif %}
