{% extends '_base.html' %}
{% block content %}
      {% if request.user.is_authenticated %}
      <div class="pull-right">
        <a href="{% url 'peering:peering_session_add' slug=internet_exchange.slug %}" class="btn btn-primary">
          <span class="fa fa-plus" aria-hidden="true"></span>
          Add a Peering Session
        </a>
        <a href="{% url 'peering:ix_edit' slug=internet_exchange.slug %}" class="btn btn-warning">
          <span class="fa fa-pencil" aria-hidden="true"></span> Edit
        </a>
        <a href="{% url 'peering:ix_delete' slug=internet_exchange.slug %}" class="btn btn-danger">
          <span class="fa fa-trash" aria-hidden="true"></span> Delete
        </a>
      </div>
      {% endif %}
      <h1>{% block title %}{{ internet_exchange }}{% endblock %}</h1>
      <ul class="nav nav-tabs">
        <li role="presentation">
          <a href="{% url 'peering:ix_details' slug=internet_exchange.slug %}">
            <span class="fa fa-info-circle" aria-hidden="true"></span>
            Info
          </a>
        </li>
        <li role="presentation" class="active">
          <a href="">
            <span class="fa fa-terminal" aria-hidden="true"></span>
            Configuration
          </a>
        </li>
      </ul>
      <pre>{{ internet_exchange_configuration }}</pre>
{% endblock %}
