{% extends 'peering/ix/_base.html' %}
{% load helpers %}
{% load render_table from django_tables2 %}
{% block subcontent %}
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>IX Details</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
              <tr>
                <td>Name</td>
                <td>{{ internet_exchange.name }}</td>
              </tr>
              <tr>
                <td>IPv6 Address</td>
                {% if internet_exchange.ipv6_address %}
                <td>{{ internet_exchange.ipv6_address }}</td>
                {% else %}
                <td><span class="text-muted">None</span></td>
                {% endif %}
              </tr>
              <tr>
                <td>IPv4 Address</td>
                {% if internet_exchange.ipv6_address %}
                <td>{{ internet_exchange.ipv4_address }}</td>
                {% else %}
                <td><span class="text-muted">None</span></td>
                {% endif %}
              </tr>
              {% if internet_exchange.configuration_template %}
              <tr>
                <td>Configuration Template</td>
                <td>{{ internet_exchange.configuration_template }}</td>
              </tr>
              {% endif %}
              {% if internet_exchange.router %}
              <tr>
                <td>Connected Router</td>
                <td>{{ internet_exchange.router }}</td>
              </tr>
              {% endif %}
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>BGP Communities</strong>
            </div>
            {% if internet_exchange.communities.all.count > 0 %}
            <ul class="list-group">
            {% for community in internet_exchange.communities.all %}
              <li class="list-group-item">
                {{ community }} <code class="pull-right">{{ community.value }}</code>
              </li>
            {% endfor %}
            </ul>
            {% else %}
            <div class="panel-body">
              <span class="text-muted">None</span>
            </div>
            {% endif %}
            <div class="panel-footer text-right">
              <a href="{% url 'peering:ix_update_communities' slug=internet_exchange.slug %}" class="btn btn-xs btn-warning">
                <span class="fa fa-pencil" aria-hidden="true"></span>
                Edit communities
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Comments</strong>
            </div>
            <div class="panel-body">
              {% if internet_exchange.comment %}
              {{ internet_exchange.comment|markdown }}
              {% else %}
              <span class="text-muted">None</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}
