{% extends 'peering/ix/_base.html' %}
{% load helpers %}
{% block subcontent %}
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-2">
            <div class="card-header">
              <strong>IX Details</strong>
            </div>
            <table class="card-body table table-hover attr-table mb-0">
              <tr>
                <td>Name</td>
                <td>{{ internet_exchange.name }}</td>
              </tr>
              <tr>
                <td>IPv6 Address</td>
                <td>
                  {% if internet_exchange.ipv6_address %}
                  {{ internet_exchange.ipv6_address }}
                  {% else %}
                  <span class="text-muted">&mdash;</span>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>IPv4 Address</td>
                <td>
                  {% if internet_exchange.ipv4_address %}
                  {{ internet_exchange.ipv4_address }}
                  {% else %}
                  <span class="text-muted">&mdash;</span>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>Local AS</td>
                <td>{{ internet_exchange.local_autonomous_system|as_link }}</td>
              </tr>
              {% if internet_exchange.router %}
              <tr>
                <td>Router</td>
                <td>{{ internet_exchange.router|as_link }}</td>
              </tr>
              {% endif %}
              {% if internet_exchange.router and internet_exchange.router.can_napalm_get_bgp_neighbors_detail %}
              <tr>
                <td>Poll Session States</td>
                <td>
                  {% if internet_exchange.check_bgp_session_states %}
                  <i class="fas fa-check text-success"></i>
                  {% else %}
                  <i class="fas fa-times text-danger"></i>
                  {% endif %}
                </td>
              </tr>
              {% endif %}
            </table>
          </div>
          {% if internet_exchange.peeringdb_id %}
          <div class="card mb-2">
            <div class="card-header">
              <strong>IX Prefixes</strong>
            </div>
            <ul class="list-group list-group-flush">
              {% for prefix in internet_exchange.get_prefixes %}
              <li class="list-group-item">{{ prefix }}</li>
              {% endfor %}
            </ul>
            <div class="card-footer">
              <small><sup>1)</sup> These are the prefixes used to connect to the IX.
              {% if internet_exchange.router and internet_exchange.router.platform %}<br /><sup>2)</sup> They can be used to discover peering sessions already setup on the router.{% endif %}</small>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col-md-6">
          <div class="card mb-2">
            <div class="card-header">
              <strong>BGP Communities</strong>
            </div>
            {% if internet_exchange.communities.all.count > 0 %}
            <ul class="list-group list-group-flush">
            {% for community in internet_exchange.communities.all %}
              <li class="list-group-item">
                {{ community|as_link }} <span class="float-right">{{ community.get_type_html }}</span>
              </li>
            {% endfor %}
            </ul>
            {% else %}
            <div class="card-body">
              <span class="text-muted">None</span>
            </div>
            {% endif %}
          </div>
          <div class="card">
            <div class="card-header">
              <strong>Routing Policies</strong>
            </div>
            {% if internet_exchange.export_routing_policies.all.count > 0 or internet_exchange.import_routing_policies.all.count > 0 %}
            <ul class="list-group list-group-flush">
            {% for routing_policy in internet_exchange.export_routing_policies.all %}
              <li class="list-group-item">
                {{ routing_policy|as_link }} <span class="float-right">{{ routing_policy.get_type_html }}</span>
              </li>
            {% endfor %}
            {% for routing_policy in internet_exchange.import_routing_policies.all %}
              <li class="list-group-item">
                {{ routing_policy|as_link }} <span class="float-right">{{ routing_policy.get_type_html }}</span>
              </li>
            {% endfor %}
            </ul>
            {% else %}
            <div class="card-body">
              <span class="text-muted">None</span>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <strong>Comments</strong>
            </div>
            <div class="card-body">
              {% if internet_exchange.comments %}
              {{ internet_exchange.comments|markdown }}
              {% else %}
              <span class="text-muted">None</span>
              {% endif %}
            </div>
          </div>
          {% include 'utils/includes/tags_card.html' with tags=internet_exchange.tags.all url='peering:internetexchange_list' %}
        </div>
      </div>
{% endblock %}
