{% extends '_base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
      {% if request.user.is_authenticated %}
      <div class="pull-right">
        <a href="{% url 'peering:ix_add' %}" class="btn btn-primary">
          <i class="fas fa-plus" aria-hidden="true"></i>
          Add an IX
        </a>
        <a href="{% url 'peering:ix_import' %}" class="btn btn-info">
          <i class="fas fa-upload" aria-hidden="true"></i>
          Import IX
        </a>
        <a href="{% url 'peering:ix_peeringdb_import' %}" class="btn btn-info">
          <i class="fa fa-cloud-upload-alt aria-hidden="true"></i>
          Import from PeeringDB
        </a>
      </div>
      {% endif %}
      <h1>{% block title %}Internet Exchanges{% endblock %}</h1>
      <div class="row">
        <div class="col-md-9">
          {% include 'utils/object_list.html' with bulk_delete_url='peering:ix_bulk_delete' %}
        </div>
        <div class="col-md-3">
          {% include 'utils/search_form.html' %}
        </div>
      </div>
{% endblock %}
