html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
body {
  padding-top: 64px;
}
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
nav > ol.breadcrumb {
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  background-color: #343a40;
}
.breadcrumb-item.active {
  color: white;
}
nav > ol.breadcrumb > li.breadcrumb-item > a {
  color: white;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar-sticky {
  background-color: #333;
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content */
}
.sidebar .nav-link, .sidebar .list-group-item {
  font-weight: 500;
  color: #f8f9fa;
}
.sidebar a:hover.list-group-item {
  text-decoration: none;
}
.sidebar .list-group-item.active {
  background-color: #1d2124!important;
  border-color: #1d2124!important;
}
.sidebar-sticky .footer {
  position: absolute;
  bottom: 0;
}
.footer {
  bottom: 0;
  padding-left: 15px;
  width: 100%;
  position: absolute;
}
.footer > p, .footer > p > a {
  color: white;
}
textarea {
  font-family: Consolas, Lucida Console, monospace;
}
tfoot td {
  font-weight: bold;
}
td.min-width {
  width: 1%;
}
table.attr-table td:nth-child(1) {
  width: 25%;
}
table.attr-table tr:first-child td {
  border-top: 0; /* Fix extra border when using table in card */
}
.table-headings th {
  background-color: #f5f5f5;
}
ul.nav-tabs, ul.nav-pills {
  margin-bottom: 20px;
}
.fixed-size-list-group {
  max-height: 340px;
  overflow: auto;
}
.pre-scrollable {
  max-height: 600px;
  color: #ffffff;
  background-color: #000000;
  padding: 1% 1% 1% 1%;
  margin-bottom: 0%;
}
nav ul.pagination {
  margin-top: 0;
  margin-bottom: 8px !important;
}
div.dropdown-menu {
  width: 250px;
}
.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
select#id_per_page {
  width: auto;
}
div#action_buttons {
  margin-left: 5px;
}
.list-group-item {
  position: inherit !important;
}

/* Color Selections */
.color-selection-aa1409 {
  background-color: #aa1409;
  color: #ffffff;
}
.color-selection-f44336 {
  background-color: #f44336;
  color: #ffffff;
}
.color-selection-e91e63 {
  background-color: #e91e63;
  color: #ffffff;
}
.color-selection-ffe4e1 {
  background-color: #ffe4e1;
  color: #000000;
}
.color-selection-ff66ff {
  background-color: #ff66ff;
  color: #ffffff;
}
.color-selection-9c27b0 {
  background-color: #9c27b0;
  color: #ffffff;
}
.color-selection-673ab7 {
  background-color: #673ab7;
  color: #ffffff;
}
.color-selection-3f51b5 {
  background-color: #3f51b5;
  color: #ffffff;
}
.color-selection-2196f3 {
  background-color: #2196f3;
  color: #ffffff;
}
.color-selection-03a9f4 {
  background-color: #03a9f4;
  color: #ffffff;
}
.color-selection-00bcd4 {
  background-color: #00bcd4;
  color: #ffffff;
}
.color-selection-009688 {
  background-color: #009688;
  color: #ffffff;
}
.color-selection-00ffff {
  background-color: #00ffff;
  color: #ffffff;
}
.color-selection-2f6a31 {
  background-color: #2f6a31;
  color: #ffffff;
}
.color-selection-4caf50 {
  background-color: #4caf50;
  color: #ffffff;
}
.color-selection-8bc34a {
  background-color: #8bc34a;
  color: #ffffff;
}
.color-selection-cddc39 {
  background-color: #cddc39;
  color: #000000;
}
.color-selection-ffeb3b {
  background-color: #ffeb3b;
  color: #000000;
}
.color-selection-ffc107 {
  background-color: #ffc107;
  color: #000000;
}
.color-selection-ff9800 {
  background-color: #ff9800;
  color: #ffffff;
}
.color-selection-ff5722 {
  background-color: #ff5722;
  color: #ffffff;
}
.color-selection-795548 {
  background-color: #795548;
  color: #ffffff;
}
.color-selection-c0c0c0 {
  background-color: #c0c0c0;
  color: #000000;
}
.color-selection-9e9e9e {
  background-color: #9e9e9e;
  color: #ffffff;
}
.color-selection-607d8b {
  background-color: #607d8b;
  color: #ffffff;
}
.color-selection-111111 {
  background-color: #111111;
  color: #ffffff;
}
.color-selection-ffffff {
  background-color: #ffffff;
  color: #000000;
}
.color-block {
  display: block;
  width: 40px;
  border: 1px solid #9e9e9e;
  border-radius: 0.25em;
}
