html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 70px;
  margin-bottom: 60px;
}
.container {
  width: auto;
  max-width: 1400px;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto auto auto;
  padding-bottom: 30px;
}
.footer, .push {
  height: 60px; /* .push must be the same height as .footer */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  border-top: 1px solid #d0d0d0;
}
footer p {
  margin: 20px 0;
}
textarea {
  font-family: Consolas, Lucida Console, monospace;
}
tfoot td {
  font-weight: bold;
}
table.attr-table td:nth-child(1) {
  width: 25%;
}
.table-headings th {
  background-color: #f5f5f5;
}
ul.nav-tabs, ul.nav-pills {
  margin-bottom: 20px;
}
.card .list-group {
  max-height: 303px;
  overflow: auto;
}
.pre-scrollable {
  max-height: 600px;
  color: #ffffff;
  background-color: #000000;
  padding: 1% 1% 1% 1%;
  margin-bottom: 0%;
}
nav ul.pagination {
  margin-top: 0;
  margin-bottom: 8px !important;
}
div.dropdown-menu {
  width: 250px;
}
