html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
/* Need to revisit why we need this */
body {
  overflow-x: hidden;
}
a:not([class*="btn"]) {
  text-decoration: none;
}
a:not([class*="btn"]):hover {
  text-decoration: underline;
}
.page {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
}
.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.navbar-brand-image {
  height: 3rem;
  width: auto;
  max-width: 100%;
}
html[data-bs-theme="dark"] .hide-theme-dark {
  display: none !important;
}
html[data-bs-theme="light"] .hide-theme-light {
  display: none !important;
}
header.navbar {
  box-shadow: inset 0 calc(-1 * 1px) 0 0 var(--bs-border-color);
  background: var(--bs-body-bg);
}
.navbar-vertical {
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: inset calc(-1 * 1px) 0 0 0 var(--bs-border-color);
  overflow-y: scroll;
  padding: 0;
}
.navbar-brand {
  display: inline-flex;
  align-items: center;
  margin: 0;
  justify-content: center;
}
#sidebar-menu > ul > li:has(.nav-link.active) {
  border-left: solid;
  border-left-width: 0.3rem;
  border-left-color: var(--bs-primary);
}
#sidebar-menu > ul > li > ul > li > .nav-link.active {
  background-color: var(--bs-secondary-bg);
}
nav > ol.breadcrumb {
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}
.breadcrumb-item.active {
  color: var(--bs-text-body-emphasis);
}
.breadcrumb-divider-colour {
  --bs-breadcrumb-divider-color: var(--bs-text-body-emphasis);
}
nav > ol.breadcrumb > li.breadcrumb-item > a {
  color: var(--bs-text-body-emphasis);
  text-decoration: none;
}
a.navbar-brand:hover, a.nav-link:hover, a.dropdown-item:hover {
  text-decoration: none;
}
label.required:after {
  font-weight: bold;
  content: " *";
  color: var(--bs-danger);
}
textarea {
  font-family: Consolas, Lucida Console, monospace;
}
tfoot td {
  font-weight: bold;
}
td.min-width {
  width: 1%;
}
table.attr-table td:nth-child(1) {
  width: 25%;
}
table.attr-table tr:first-child td {
  border-top: 0; /* Fix extra border when using table in card */
}
table.table thead th.asc.orderable > a::after {
  content: " \f107";
  font-family: "Font Awesome 7 Free";
}
table.table thead th.desc.orderable > a::after {
  content: " \f106";
  font-family: "Font Awesome 7 Free";
}
.min-width {
  width: 1%;
}
.fixed-size-list-group {
  max-height: 340px;
  overflow: auto;
}
.pre-scrollable {
  max-height: 600px;
  color: #ffffff;
  background-color: #000000;
  padding: 1% 1% 1% 1%;
  margin-bottom: 0%;
}
.pre-diff {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.pre-diff-added {
  background-color: #ffdce0;
}
.pre-diff-removed {
  background-color: #cdffd8;
}
nav ul.pagination {
  margin-top: 0;
  margin-bottom: 8px !important;
}
div.dropdown-menu {
  width: 250px;
}
.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
div#action_buttons {
  margin-left: 5px;
}
.list-group-item {
  position: inherit !important;
}

.colour-selection-aa1409 {
  background-color: #aa1409;
  color: #ffffff;
}
.colour-selection-f44336 {
  background-color: #f44336;
  color: #ffffff;
}
.colour-selection-e91e63 {
  background-color: #e91e63;
  color: #ffffff;
}
.colour-selection-ffe4e1 {
  background-color: #ffe4e1;
  color: #000000;
}
.colour-selection-ff66ff {
  background-color: #ff66ff;
  color: #ffffff;
}
.colour-selection-9c27b0 {
  background-color: #9c27b0;
  color: #ffffff;
}
.colour-selection-673ab7 {
  background-color: #673ab7;
  color: #ffffff;
}
.colour-selection-3f51b5 {
  background-color: #3f51b5;
  color: #ffffff;
}
.colour-selection-2196f3 {
  background-color: #2196f3;
  color: #ffffff;
}
.colour-selection-03a9f4 {
  background-color: #03a9f4;
  color: #ffffff;
}
.colour-selection-00bcd4 {
  background-color: #00bcd4;
  color: #ffffff;
}
.colour-selection-009688 {
  background-color: #009688;
  color: #ffffff;
}
.colour-selection-00ffff {
  background-color: #00ffff;
  color: #ffffff;
}
.colour-selection-2f6a31 {
  background-color: #2f6a31;
  color: #ffffff;
}
.colour-selection-4caf50 {
  background-color: #4caf50;
  color: #ffffff;
}
.colour-selection-8bc34a {
  background-color: #8bc34a;
  color: #ffffff;
}
.colour-selection-cddc39 {
  background-color: #cddc39;
  color: #000000;
}
.colour-selection-ffeb3b {
  background-color: #ffeb3b;
  color: #000000;
}
.colour-selection-ffc107 {
  background-color: #ffc107;
  color: #000000;
}
.colour-selection-ff9800 {
  background-color: #ff9800;
  color: #ffffff;
}
.colour-selection-ff5722 {
  background-color: #ff5722;
  color: #ffffff;
}
.colour-selection-795548 {
  background-color: #795548;
  color: #ffffff;
}
.colour-selection-c0c0c0 {
  background-color: #c0c0c0;
  color: #000000;
}
.colour-selection-9e9e9e {
  background-color: #9e9e9e;
  color: #ffffff;
}
.colour-selection-607d8b {
  background-color: #607d8b;
  color: #ffffff;
}
.colour-selection-111111 {
  background-color: #111111;
  color: #ffffff;
}
.colour-selection-ffffff {
  background-color: #ffffff;
  color: #000000;
}
.colour-block {
  display: block;
  width: 40px;
  border: 1px solid #9e9e9e;
  border-radius: 0.25em;
}
/* Select 2 bootstrap-5 theme override */
html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection {
  background-color: transparent !important;
  border: 1px solid #495057;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--single {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
color: #dee2e6 !important;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
color: #dee2e6 !important;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
border: 1px solid var(--bs-gray-600);
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
color: #dee2e6 !important;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
  background-color: transparent !important;
  color: #dee2e6 !important;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown {
  color: #dee2e6 !important;
  border: 1px solid #495057 !important;
background-color: var(--bs-body-bg);
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[role=group] .select2-results__group {
color: var(--bs-secondary-color)!important;
}
