html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 64px;
}
.navbar-nav, .sidebar {
  font-size: .875rem;
}
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
nav > ol.breadcrumb {
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  font-size: 1rem;
  background-color: #343a40;
}
nav > ol.breadcrumb > li.breadcrumb-item > a {
  color: white;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar-sticky {
  background-color: #333;
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content */
}
.sidebar .nav-link, .sidebar .list-group-item {
  font-weight: 500;
  color: #f8f9fa;
}
.sidebar .list-group-item.active {
  background-color: #1d2124!important;
  border-color: #1d2124!important;
}
.sidebar-sticky .footer {
  position: absolute;
  bottom: 0;
}
.footer {
  bottom: 0;
  padding-left: 15px;
  width: 100%;
  position: absolute;
}
.footer > p, .footer > p > a {
  color: white;
}
textarea {
  font-family: Consolas, Lucida Console, monospace;
}
tfoot td {
  font-weight: bold;
}
table.attr-table td:nth-child(1) {
  width: 25%;
}
.table-headings th {
  background-color: #f5f5f5;
}
ul.nav-tabs, ul.nav-pills {
  margin-bottom: 20px;
}
.card .list-group {
  max-height: 340px;
  overflow: auto;
}
.pre-scrollable {
  max-height: 600px;
  color: #ffffff;
  background-color: #000000;
  padding: 1% 1% 1% 1%;
  margin-bottom: 0%;
}
nav ul.pagination {
  margin-top: 0;
  margin-bottom: 8px !important;
}
div.dropdown-menu {
  width: 250px;
}
.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
select#id_per_page {
  width: auto;
}
