html, body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-login {
  width: 100%;
  margin: auto;
}
.hr-text {
  display: flex;
  align-items: center;
  text-align: center;
}
.hr-text::before,
.hr-text::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}
.hr-text:not(:empty)::before {
  margin-right: .25em;
}
.hr-text:not(:empty)::after {
  margin-left: .25em;
}
