{% extends '_base.html' %}
{% load helpers %}
{% block actions %}
{% if perms.peering.change_internetexchange %}
<a href="{% url 'peering:internetexchange_edit' pk=instance.pk %}" class="btn btn-warning">
  <i class="fas fa-edit"></i> Edit
</a>
{% endif %}
{% if perms.peering.delete_internetexchange %}
<a href="{% url 'peering:internetexchange_delete' pk=instance.pk %}" class="btn btn-danger">
  <i class="fas fa-trash"></i> Delete
</a>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'peering:internetexchange_list' %}">Internet Exchanges</a></li>
<li class="breadcrumb-item active" aria-current="page">{% block title %}{{ instance }}{% endblock %}</li>
{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link{% if active_tab == 'main' %} active{% endif %}" href="{% url 'peering:internetexchange_details' pk=instance.pk %}">
      <i class="fas fa-info-circle"></i> Info
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active_tab == 'connections' %} active{% endif %}" href="{% url 'peering:internetexchange_connections' pk=instance.pk %}">
      <i class="fas fa-sitemap"></i> Connections
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active_tab == 'sessions' %} active{% endif %}" href="{% url 'peering:internetexchange_peering_sessions' pk=instance.pk %}">
      <i class="fas fa-network-wired"></i> Peering Sessions
    </a>
  </li>
  {% if instance.peeringdb_ixlan %}
  <li class="nav-item">
    <a class="nav-link{% if active_tab == 'peers' %} active{% endif %}" href="{% url 'peering:internetexchange_peers' pk=instance.pk %}">
      <i class="fas fa-link"></i> Available Peers
    </a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link{% if active_tab == 'changelog' %} active{% endif %}" href="{% url 'peering:internetexchange_changelog' pk=instance.pk %}">
      <i class="fas fa-history"></i> Changelog
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
      {% if instance.bgp_session_states_update %}
      Sessions last updated: {{ instance.bgp_session_states_update | date_span }}
      {% else %}
      Last updated: {{ instance.updated | date_span }}
      {% endif %}
    </a>
  </li>
</ul>
{% block subcontent %}{% endblock %}
{% endblock %}
