{% extends '_base.html' %}
{% load helpers %}
{% block content %}
<div class="row justify-content-center">
	<div class="col-6">
    <form method="post">
      {% csrf_token %}
      {% for field in form.hidden_fields %}
      {{ field }}
      {% endfor %}
      <div class="card my-2">
        <div class="card-header">{% block title %}Add AS{{ network.asn }} as peer on {{ instance }}{% endblock %}</div>
        <div class="card-body">
          {% if not known_autonomous_system %}
          <p>The AS{{ network.asn }} defined by the following details will be recorded as a known AS.<p>
          <table class="card-body table table-hover attr-table mb-0">
            <tr>
              <td>Name</td>
              <td>{{ network.name }}</td>
            </tr>
            <tr>
              <td>IRR AS-SET</td>
              <td>{{ network.irr_as_set }}</td>
            </tr>
            <tr>
              <td>IPv6 Max Prefixes</td>
              <td>{{ network.info_prefixes6 }}</td>
            </tr>
            <tr>
              <td>IPv4 Max Prefixes</td>
              <td>{{ network.info_prefixes4 }}</td>
            </tr>
          </table>
          {% endif %}
          {% if netixlan.ipaddr6 or netixlan.ipaddr4 %}
          <p>{% if netixlan.ipaddr6 and netixlan.ipaddr4 %}New peering sessions{% else %}A new peering session{% endif %} will be recorded with:</p>
          <ul>
            {% if netixlan.ipaddr6 %}
            <li>{{ netixlan.ipaddr6 }}</li>
            {% endif %}
            {% if netixlan.ipaddr4 %}
            <li>{{ netixlan.ipaddr4 }}</li>
            {% endif %}
          </ul>
          {% endif %}
          <div class="text-right">
            <button type="submit" class="btn btn-primary">Add Peer</button>
            <a class="btn btn-secondary" href="{{ instance.get_peer_list_url }}">Cancel</a>
          </div>
        </div>
      </div>
    </form>
	</div>
</div>
{% endblock %}
