{% extends 'utils/object_add_edit.html' %}
{% load form_helpers %}
{% block form %}
            <div class="card my-2">
              <div class="card-header"><strong>Internet Exchange</strong></div>
              <div class="card-body">
                {% render_field form.name %}
                {% render_field form.slug %}
                {% render_field form.local_autonomous_system %}
                {% render_field form.ipv6_address %}
                {% render_field form.ipv4_address %}
              </div>
            </div>
            <div class="card my-2">
              <div class="card-header"><strong>Routing Policies and Communities</strong></div>
              <div class="card-body">
                {% render_field form.import_routing_policies %}
                {% render_field form.export_routing_policies %}
                {% render_field form.communities %}
              </div>
            </div>
            <div class="card my-2">
              <div class="card-header"><strong>Deployment</strong></div>
              <div class="card-body">
                {% render_field form.router %}
                {% render_field form.check_bgp_session_states %}
              </div>
            </div>
            <div class="card my-2">
              <div class="card-header">
                <strong>PeeringDB</strong>
                <a href="http://peering-manager.readthedocs.io/en/latest/man/" target="_blank" class="float-right btn btn-xs btn-info">
                  <i class="fas fa-question-circle"></i> Getting the PeeringDB ID
                </a>
              </div>
              <div class="card-body">
                {% render_field form.peeringdb_id %}
              </div>
            </div>
            <div class="card my-2">
              <div class="card-header"><strong>Tags</strong></div>
              <div class="card-body">
                {% render_field form.tags %}
              </div>
            </div>
            <div class="card my-2">
              <div class="card-header"><strong>Comments</strong></div>
              <div class="card-body">
                {% render_field form.comments %}
              </div>
            </div>
{% endblock %}
