{% extends 'peering/internetexchange/_base.html' %}
{% load helpers %}
{% block subcontent %}
<div class="row justify-content-center">
  <div class="col">
    <div class="card border border-danger">
      <div class="card-header bg-danger text-white">
        <i class="fa-fw fa-solid fa-exclamation-triangle"></i> <strong>Server Error</strong>
      </div>
      <div class="card-body">
        <p class="card-text">An error occurred trying to fetch data from {{ instance.name }} IX-API. Make sure that it uses correct credentials and URL.</p>
        <hr />
        <p class="card-text">The complete error is provided below:</p>
        <pre>{{ error }}</pre>
      </div>
    </div>
  </div>
</div>
{% endblock %}
