{% extends 'peering/internetexchange/_base.html' %}
{% load helpers %}
{% block subcontent %}
<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header"><strong>Endpoint</strong></div>
      <table class="card-body table table-hover attr-table mb-0">
        <tr>
          <td>IX-API</td>
          <td>
            {{ instance.ixapi_endpoint | as_link }}
            {% if instance.ixapi_endpoint.version == 1 %}
            <span class="float-end" data-bs-toggle="tooltip" data-placement="top" title="IX-API version 1 is deprecated and will be phased out on 2026-07-01.">
              <i class="fa-solid fa-triangle-exclamation"></i>
            </span>
            {% endif %}
          </td>
        </tr>
        {% if instance.ixapi_endpoint.version != 1 %}
        <tr>
          <td>Status</td>
          <td>{{ instance.ixapi_endpoint.get_health | title | render_none }}</td>
        </tr>
        {% endif %}
      </table>
    </div>
    <div class="card mb-3">
      <div class="card-header"><strong>Network service</strong></div>
      <table class="card-body table table-hover attr-table mb-0">
        <tr>
          <td>Service ID</td>
          <td>{{ ixapi_service.id }}</td>
        </tr>
        <tr>
          <td>Product</td>
          <td>
            {% if ixapi_service.product_offering %}
            {{ ixapi_service.product_offering.name }}
            {% elif ixapi_service.product %}
            {{ ixapi_service.product.name }}
            {% else %}
            <span class="text-muted">&mdash;</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{ ixapi_service.name }}</td>
        </tr>
        <tr>
          <td>Metro area</td>
          <td>{{ ixapi_service.metro_area }}</td>
        </tr>
        {% if ixapi_service.network_features %}
        <tr>
          <td>Features</td>
          <td><a href="#" role="button" data-bs-toggle="modal" data-bs-target="#features-modal">Show</a></td>
        </tr>
        {% endif %}
      </table>
    </div>
  </div>
  <div class="col-md-6">
    {% for config in ixapi_service.network_service_configs %}
    <div class="card mb-3">
      <div class="card-header">
        <strong>{{ config.id }} - {{ config.state | title }}</strong>
        {% if config.connection %}
        <a class="btn btn-xs btn-success float-end" href="{{ config.connection.get_absolute_url }}">
          <i class="fa-fw fa-solid fa-check"></i> Configured
        </a>
        {% else %}
        {% if perms.peering.change_internetexchange and perms.net.add_connection %}
        <a class="btn btn-xs btn-primary float-end"
           href="{% url 'net:connection_add' %}?internet_exchange_point={{ instance.pk }}&vlan={{ config.outer_vlan }}{% if config.ipv6_address %}&ipv6_address={{ config.ipv6_address }}{% endif %}{% if config.ipv4_address %}&ipv4_address={{ config.ipv4_address }}{% endif %}{% if config.macs %}&mac_address={{ config.macs.0 }}{% endif %}&return_url={% url 'peering:internetexchange_ixapi' pk=instance.pk %}">
          <i class="fa-fw fa-solid fa-plug"></i> Setup
        </a>
        {% endif %}
        {% endif %}
      </div>
      <table class="card-body table table-hover attr-table mb-0">
        {% if config.outer_vlan %}
        <tr>
          <td>Outer VLAN</td>
          <td>{{ config.outer_vlan }}</td>
        </tr>
        {% endif %}
        {% if config.inner_vlan %}
        <tr>
          <td>Inner VLAN</td>
          <td>{{ config.inner_vlan }}</td>
        </tr>
        {% endif %}
        {% for ip in config.ips %}
        <tr>
          <td>IPv{{ ip.version }} address</td>
          <td>{{ ip }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td>MAC address{{ config.macs | pluralize:"es" }}</td>
          <td>{{ config.macs | join:" - "  | render_none }}</td>
        </tr>
      </table>
    </div>
    {% endfor %}
  </div>
</div>
{% if ixapi_service.network_features %}
<div class="modal fade" id="features-modal" tabindex="-1" aria-labelledby="featuresModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="featuresModalLabel">Available Features</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <table class="modal-body table table-hover attr-table mb-0">
        {% for f in ixapi_service.network_features %}
        <tr>
          <td>{{ f.name }}</td>
          {% if f.type == "route_server" %}
          <td>AS{{ f.asn }}</td>
          <td>{{ f.fqdn }}</td>
          <td>
            {% if f.ip_v6 %}{{ f.ip_v6 }}{% endif %}
            {% if f.ip_v4 %}{{ f.ip_v4 }}{% endif %}
          </td>
          {% if f.required is True %}
          <td data-bs-toggle="tooltip" data-placement="left" title="Required"><i class="fa-fw fa-solid fa-asterisk text-danger"></i></td>
          {% endif %}
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
