{% extends '_base.html' %}
{% load render_table from django_tables2 %}
{% block actions %}
{% if perms.peering.add_internetexchange %}
<a href="{% url 'peering:internetexchange_add' %}" class="btn btn-primary">
  <i class="fa-fw fa-solid fa-plus"></i> Add
</a>
{% if peeringdb_last_synchronisation and context_as %}
<a href="{% url 'peering:internetexchange_peeringdb_import' %}" class="btn btn-secondary">
  <i class="fa-fw fa-solid fa-cloud-upload-alt"></i> Import from PeeringDB
</a>
{% endif %}
{% endif %}
{% endblock %}
{% block breadcrumb %}<li class="breadcrumb-item active" aria-current="page">{% block title %}Internet Exchanges{% endblock %}</li>{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-9">
    {% include 'generic/object_list.html' with table_modal='InternetExchangeTable_config' bulk_edit_url='peering:internetexchange_bulk_edit' bulk_delete_url='peering:internetexchange_bulk_delete' %}
  </div>
  <div class="col-md-3">
    {% include 'utils/search_form.html' %}
  </div>
</div>
{% endblock %}
