{% extends 'peering/internetexchange/_base.html' %}
{% block subcontent %}
<div class="row">
  <div class="col-md-9">
    {% include 'peering/internetexchange/inc/sessions_table.html' with bulk_edit_url='peering:internetexchangepeeringsession_bulk_edit' bulk_delete_url='peering:internetexchangepeeringsession_bulk_delete' %}
  </div>
  <div class="col-md-3">
    {% include 'utils/search_form.html' %}
  </div>
</div>
<div class="modal fade" id="import_from_router" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import Peering Sessions from {{ instance.router }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="id_close_import_01"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-dismissible" role="alert" id="id_import_operation">
          <button type="button" class="close" aria-label="Close"><span>&times;</span></button>
          <span id="id_import_operation_text"></span>
        </div>
        <p>Do you want to import all peering sessions found on <strong>{{ instance.router }}</strong> matching the following prefixes?</p>
        <ul>
          {% for ix_prefix in instance.get_prefixes %}
          <li>{{ ix_prefix }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="id_close_import_02">Close</button>
        <button type="button" class="btn btn-primary" id="id_import_from_router">Import</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script>
  $('.alert').hide();
  $('.alert').on('click', '.close', function() {
    $(this).closest('.alert').slideUp();
  });

  {% if perms.peering.add_internetexchangepeeringsession and instance.router and instance.router.platform %}
  $('#id_import_from_router').click(function() {
    $.ajax({
      method: "post",
      data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
      dataType: "json",
      url: "{% url 'peering-api:internetexchange-import-peering-sessions' pk=instance.pk %}",
      beforeSend: function() {
        $('#id_close_import_01').attr('disabled', 'disabled');
        $('#id_close_import_02').attr('disabled', 'disabled');
        $('#id_import_from_router').attr('disabled', 'disabled').removeClass('btn-primary').addClass('btn-warning').html('<i class="fas fa-sync fa-spin fa-fw"></i> Working');
      },
      complete: function() {
        $('#id_close_import_01').removeAttr('disabled');
        $('#id_close_import_02').removeAttr('disabled');
      },
    }).done(function(response) {
      var message;
      if (response['peering-session-count'] > 0) {
        message = response['peering-session-count'] + ' sessions imported';
      } else {
        message = 'No sessions to import'
      }
      $('#id_import_from_router').removeClass('btn-warning').addClass('btn-success').html('<i class="fas fa-check"></i> ' + message);
    }).fail(function(response) {
      $("#id_import_operation").removeClass(
        function(index, className) {
          return (className.match(/(^|\s)alert-\S+/g) || []).join(' ');
        }
      ).addClass('alert-danger');
      $('#id_import_operation_text').text(response.responseJSON['detail']);
      $("#id_import_operation").slideDown();
      $('#id_import_from_router').removeClass('btn-warning').addClass('btn-primary').removeAttr('disabled').html('Import');
    });
  });
  {% endif %}
  {% if instance.check_bgp_session_states and instance.router and instance.router.can_napalm_get_bgp_neighbors_detail %}
  $('#id_poll_session_states').click(function() {
    $.ajax({
      method: "post",
      data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
      dataType: "json",
      url: "{% url 'peering-api:internetexchange-poll-peering-sessions' pk=instance.pk %}",
      beforeSend: function() {
        $('#id_poll_session_states').attr('disabled', 'disabled').removeClass('btn-success').addClass('btn-warning').html('<i class="fas fa-sync fa-spin fa-fw"></i> Working');
      },
    }).done(function(response) {
      location.reload();
    });
  });
  {% endif %}
</script>
{% endblock %}
