{% extends 'peering/internetexchange/_base.html' %}
{% block subcontent %}
<div class="row">
  <div class="col-md-9">
    {% include 'peering/internetexchange/inc/sessions_table.html' with bulk_edit_url='peering:internetexchangepeeringsession_bulk_edit' bulk_delete_url='peering:internetexchangepeeringsession_bulk_delete' %}
  </div>
  <div class="col-md-3">
    {% include 'utils/search_form.html' %}
  </div>
</div>
<div class="modal fade" id="import_from_router_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import Peering Sessions from {{ instance.router }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        {% if not instance.get_prefixes %}
        <p>Unable to find prefixes for this Internet Exchange. You cannot import peering sessions unless you use PeeringDB data.</p>
        {% else %}
        <p>Do you want to import all peering sessions found on <strong>{{ instance.router }}</strong> matching the following prefixes?</p>
        <ul>
          {% for ix_prefix in instance.get_prefixes %}
          <li>{{ ix_prefix.prefix }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="modal-footer">
        {% if instance.get_prefixes %}
        <button type="button" class="btn btn-primary" id="import_from_router">Import</button>
        {% endif %}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script>
  {% if perms.peering.add_internetexchangepeeringsession and instance.router and instance.router.platform %}
  function importFailHandler() {
    PeeringManager.setFailedButton($('#import_from_router'));
  }
  function importDoneHandler(r) {
    switch (r['status']) {
      case 'pending':
      case 'running':
        setTimeout(function () {
          PeeringManager.pollJobResult(r, importDoneHandler, importFailHandler);
        }, 2000);
        break;
      case 'completed':
        PeeringManager.setSuccessButton($('#import_from_router'), 'Configuration saved');
        break;
      case 'errored':
      case 'failed':
      default:
        PeeringManager.setFailedButton($('#import_from_router'), 'Configuration not saved');
        break;
    }
  }
  function pollDoneHandler(r) {
    switch (r['status']) {
      case 'pending':
      case 'running':
        setTimeout(function () {
          PeeringManager.pollJobResult(r, pollDoneHandler);
        }, 2000);
        break;
      case 'completed':
      case 'errored':
      case 'failed':
      default:
        location.reload();
        break;
    }
  }

  $('#import_from_router').click(function () {
    $.ajax({
      method: 'post',
      data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
      url: "{% url 'peering-api:internetexchange-import-peering-sessions' pk=instance.pk %}",
    }).done(function (r) {
      PeeringManager.setWorkingButton($('#import_from_router'));
      importDoneHandler(r);
    }).fail(importFailHandler);
  });
  {% endif %}
  {% if instance.check_bgp_session_states and instance.router and instance.router.platform %}
  $('#poll_session_states').click(function () {
    $.ajax({
      method: 'post',
      data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
      url: "{% url 'peering-api:internetexchange-poll-peering-sessions' pk=instance.pk %}",
      beforeSend: function() {
        PeeringManager.setWorkingButton($('#poll_session_states'));
      },
    }).done(function (r) {
      PeeringManager.setWorkingButton($('#poll_session_states'));
      pollDoneHandler(r);
    });
  });
  {% endif %}
</script>
{% endblock %}
