{% extends 'peering/internetexchange/_base.html' %}
{% block subcontent %}
{% if instance.are_bgp_sessions_pollable %}
{% include 'includes/alerts_success_danger.html' %}
{% endif %}
<div class="row">
  <div class="col-md-9">
    {% include 'peering/internetexchange/inc/sessions_table.html' with bulk_edit_url='peering:internetexchangepeeringsession_bulk_edit' bulk_delete_url='peering:internetexchangepeeringsession_bulk_delete' %}
  </div>
  <div class="col-md-3">
    {% include 'utils/search_form.html' %}
  </div>
</div>
<div class="modal fade" id="import_sessions_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import Peering Sessions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        {% if not instance.get_prefixes %}
        <p>Unable to find prefixes for this Internet Exchange. You cannot import peering sessions unless you use PeeringDB data.</p>
        {% else %}
        <p>Do you want to import all peering sessions found on connected routers matching the following prefixes?</p>
        <ul>
          {% for ix_prefix in instance.get_prefixes %}
          <li>{{ ix_prefix.prefix }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="modal-footer">
        {% if instance.get_prefixes %}
        <button type="button" class="btn btn-primary" id="import_sessions">Import</button>
        {% endif %}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<script>
  {% if perms.peering.add_internetexchangepeeringsession and instance.has_connected_routers %}
  function importFailHandler() {
    PeeringManager.setFailedButton($('#import_sessions'));
  }
  function importDoneHandler(r) {
    switch (r['status']) {
      case 'pending':
      case 'running':
        setTimeout(function () {
          PeeringManager.pollJobResult(r, importDoneHandler, importFailHandler);
        }, 2000);
        break;
      case 'completed':
        PeeringManager.setSuccessButton($('#import_sessions'), 'Sessions imported');
        break;
      case 'errored':
      case 'failed':
      default:
        PeeringManager.setFailedButton($('#import_sessions'), 'Failure importing sessions');
        break;
    }
  }

  $('#import_sessions').click(function () {
    $.ajax({
      method: 'post',
      headers: { 'X-CSRFTOKEN': '{{ csrf_token }}' },
      url: "{% url 'peering-api:internetexchange-import-sessions' pk=instance.pk %}",
    }).done(function (r) {
      PeeringManager.setWorkingButton($('#import_sessions'));
      importDoneHandler(r);
    }).fail(importFailHandler);
  });
  {% endif %}
  {% if instance.are_bgp_sessions_pollable %}
  $('.alert').hide();
  $('.alert').on('click', '.close', function () {
    $(this).closest('.alert').slideUp();
  });

  var jobResultURL = "{% url 'extras:jobresult_list' %}";
  $('#id_poll_sessions_state').click(function () {
    $.ajax({
      method: 'post',
      headers: { 'X-CSRFTOKEN': '{{ csrf_token }}' },
      url: "{% url 'peering-api:internetexchange-poll-bgp-sessions' pk=instance.pk %}",
    }).done(function (r) {
      let message;
      if (r.length < 1) {
        return;
      } else if (r.length == 1) {
          message = 'BGP sessions polling <a href="' + jobResultURL + r[0].id + '" class="alert-link">background task</a> initiated';
      } else {
        message = 'BGP sessions polling background tasks initiated:<ul class="m-0">';
        for (let i = 0; i < r.length; i++) {
          message += '<li><a href="' + jobResultURL + r[i].id + '" class="alert-link">ID #' + r[i].id + '</a></li>';
        }
        message += '</ul>';
      }
      $('#id_message_success').html(message);
      $('#id_alert_success').slideDown();
    }).fail(function () {
      $('#id_message_danger').html('Failure trying to schedule background tasks for polling BGP sessions.');
      $('#id_alert_danger').slideDown();
    });
  });
  {% endif %}
</script>
{% endblock %}
