{% extends 'peering/internetexchange/_base.html' %}
{% load helpers %}
{% block subcontent %}
<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <strong>IX Details</strong>
        {% if instance.linked_to_peeringdb %}
        <span class="float-end" data-bs-toggle="tooltip" data-placement="right" title="Linked to PeeringDB">
          <i class="fa-fw fa-solid fa-check-circle text-success"></i>
        </span>
        {% endif %}
      </div>
      <table class="card-body table table-hover attr-table mb-0">
        <tr>
          <td>Name</td>
          <td>{{ instance.name }}</td>
        </tr>
        <tr>
          <td>Slug</td>
          <td>{{ instance.slug }}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ instance.description|render_none }}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{ instance | status_as_badge }}</td>
        </tr>
        <tr>
          <td>Local AS</td>
          <td>{{ instance.local_autonomous_system|as_link }}</td>
        </tr>
      </table>
    </div>
    {% if instance.linked_to_peeringdb %}
    <div class="card mb-3">
      <div class="card-header"><strong>IXP Prefixes</strong></div>
      <ul class="list-group list-group-flush">
        {% for ixlan_prefix in instance.get_prefixes %}
        <li class="list-group-item">{{ ixlan_prefix.prefix }}</li>
        {% endfor %}
      </ul>
      <div class="card-footer">
        <small>These are the prefixes used to connect to the IX network.</small>
      </div>
    </div>
    {% endif %}
    {% include 'includes/contacts.html' %}
    {% include 'includes/tags_card.html' with tags=instance.tags.all url='peering:internetexchange_list' %}
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header"><strong>Import Routing Policies</strong></div>
      {% if instance.import_routing_policies.all.count > 0 %}
      <ul class="list-group list-group-flush">
      {% for routing_policy in instance.import_routing_policies.all %}
        <li class="list-group-item">
          {{ routing_policy|as_link }}
        </li>
      {% endfor %}
      </ul>
      {% else %}
      <div class="card-body">
        <span class="text-muted">None</span>
      </div>
      {% endif %}
    </div>
    <div class="card mb-3">
      <div class="card-header"><strong>Export Routing Policies</strong></div>
      {% if instance.export_routing_policies.all.count > 0 %}
      <ul class="list-group list-group-flush">
      {% for routing_policy in instance.export_routing_policies.all %}
        <li class="list-group-item">
          {{ routing_policy|as_link }}</span>
        </li>
      {% endfor %}
      </ul>
      {% else %}
      <div class="card-body">
        <span class="text-muted">None</span>
      </div>
      {% endif %}
    </div>
    <div class="card mb-3">
      <div class="card-header">
        <strong>BGP Communities</strong>
      </div>
      {% if instance.communities.all.count > 0 %}
      <ul class="list-group list-group-flush">
      {% for community in instance.communities.all %}
        <li class="list-group-item">
          {{ community|as_link }}{% if community.type %} <span class="float-end">{{ community.get_type_html }}{% endif %}</span>
        </li>
      {% endfor %}
      </ul>
      {% else %}
      <div class="card-body">
        <span class="text-muted">None</span>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
