project-static/bootstrap-5.3.7-dist/* linguist-vendored
project-static/fontawesome-6.7.2/* linguist-vendored
project-static/js/jquery-3.7.1.min.js linguist-vendored
project-static/select2-4.0.13/* linguist-vendored
