project-static/bootstrap-4.3.1-dist/* linguist-vendored
project-static/fontawesome-5.9.0/* linguist-vendored
project-static/js/jquery-3.4.1.min.js linguist-vendored
project-static/select2-4.0.7/* linguist-vendored
