---
repos:
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.9.2
    hooks:
    - id: isort

-   repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
    - id: black
      language_version: python3.9
