sudo: required
services:
  - postgresql
addons:
  postgresql: "9.6"
  apt:
    packages:
      - bgpq3

language: python
python:
  - "3.5"
  - "3.6"
matrix:
  include:
    - python: "3.6"
      env: TOXENV=black
    - python: "3.7"
      dist: "xenial"
      sudo: true
install:
  - pip install tox tox-travis coveralls
before_script:
  - psql --version
  - psql -U postgres -c "SELECT version();"
script:
  - tox
after_success:
  - coveralls
