[tool.poetry]
name = "Peering Manager"
description = "BGP sessions management tool"
version = "1.8.3-dev"
authors = ["Guillaume Mazoyer <pm@mazoyer.eu>"]
readme = "README.md"
license = "Apache-2.0"

[tool.poetry.urls]
homepage = "https://peering-manager.net"
documentation = "https://docs.peering-manager.net"
repository = "https://github.com/peering-manager/peering-manager.git"

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
Django = ">=4.2,<4.3"
djangorestframework = "~3.14"
django-debug-toolbar = "~4.3"
django-filter = "~23.5"
django-netfields = "~1.3"
django-prometheus = "~2.3"
django-redis = "~5.4"
django-rq = "~2.10"
django-tables2 = "~2.7"
django-taggit = "~5.0"
drf-spectacular = "~0.27"
drf-spectacular-sidecar = "^2024"
Jinja2 = "~3.1"
Markdown = "~3.5"
napalm = "~4.1"
packaging = "23.2"
psycopg = { version = "~3.1", extras = ["binary", "pool"] }
pyixapi = "^0.2"
pynetbox = "~7.3"
PyYAML = "~6.0"
requests = "~2.31"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pre-commit = "~2.21"
ruff = "~0.2"
coverage = { version = "~7.4", extras = ["toml"] }

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs-material = "*"

[tool.ruff]
line-length = 88
indent-width = 4
target-version = "py38"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[tool.ruff.lint]
ignore = ["F403", "F405"]

[tool.coverage.run]
branch = true
source = ["."]
omit = [
    "manage.py",
    "*/apps.py",
    "*/migrations/*",
    "peering_manager/asgi.py",
    "peering_manager/wsgi.py",
    "peering_manager/settings.py",
    "peering_manager/configuration.*",
]
