Django>=2.1.5,<2.2
djangorestframework==3.9.1
django-filter==2.1.0
django-tables2==2.0.5
Jinja2==2.10
napalm==2.4.0
MarkupSafe==1.1.1
psycopg2-binary==2.7.7
py-gfm==0.1.4
pytz==2018.9
requests==2.21.0
