Django>=3.2,<3.3
django-cacheops==6.0
djangorestframework==3.12.4
django-filter==2.4.0
django-netfields==1.2.2
django-prometheus==2.1.0
django-rq==2.4.1
django-tables2==2.4.0
django-taggit==1.4.0
Jinja2==3.0.1
Markdown==3.3.4
napalm==3.3.1
packaging==20.9
psycopg2-binary==2.8.6
pynetbox==6.1.2
requests==2.25.1
gunicorn==20.1.0
