Django>=4.1,<4.2
djangorestframework==3.14.0
django-cacheops==6.2
django-debug-toolbar==4.1.0
django-filter==23.2
django-netfields==1.3.1
django-prometheus==2.3.1
django-rq==2.8.1
django-tables2==2.5.3
django-taggit==4.0.0
drf-spectacular==0.26.2
drf-spectacular-sidecar==2023.5.1
Jinja2>=3.1.2
Markdown==3.4.3
napalm==4.0.0
packaging==23.1
psycopg2-binary==2.9.6
pyixapi==0.1.4
pynetbox==7.0.1
PyYAML==6.0
requests==2.30.0
tzdata==2023.3
