{% extends '_base.html' %}
{% load helpers %}
{% block breadcrumb %}<li class="breadcrumb-item active" aria-current="page">{% block title %}Local Cache Management{% endblock %}</li>{% endblock %}
{% block content %}
<div class="alert alert-dismissible" role="alert" id="id_cache_operation">
  <button type="button" class="close" aria-label="Close"><span>&times;</span></button>
  <span id="id_cache_operation_text"></span>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>PeeringDB Cache</strong>
        {% if last_sync_time is not 0 %}
        <small class="text-muted float-right">Last updated: {{ last_sync_time }}</small>
        {% endif %}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Facilities <span class="badge badge-primary badge-pill" id="id_peeringdb_fac_count">{{ fac_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Internet Exchanges <span class="badge badge-primary badge-pill" id="id_peeringdb_ix_count">{{ ix_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Internet Exchange Facilities <span class="badge badge-primary badge-pill" id="id_peeringdb_ixfac_count">{{ ixfac_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Internet Exchange LANs <span class="badge badge-primary badge-pill" id="id_peeringdb_ixlan_count">{{ ixlan_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Internet Exchange LAN Prefixes <span class="badge badge-primary badge-pill" id="id_peeringdb_ixlanpfx_count">{{ ixlanpfx_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Networks <span class="badge badge-primary badge-pill" id="id_peeringdb_net_count">{{ net_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Network Contacts <span class="badge badge-primary badge-pill" id="id_peeringdb_poc_count">{{ poc_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Network Facilities <span class="badge badge-primary badge-pill" id="id_peeringdb_netfac_count">{{ netfac_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Network Internet Exchange LANs <span class="badge badge-primary badge-pill" id="id_peeringdb_netixlan_count">{{ netixlan_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Organizations <span class="badge badge-primary badge-pill" id="id_peeringdb_org_count">{{ org_count }}</span>
        </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-primary" id="id_update_cache"><i class="fas fa-sync"></i> Update Cache</button>
            <button type="button" class="btn btn-danger" id="id_clear_cache"><i class="fas fa-broom"></i> Clear Cache</button>
          </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script>
      $('.alert').hide();
      $('.alert').on('click', '.close', function() {
        $(this).closest('.alert').slideUp();
      });

      function showSuccessAlert(text) {
        $('#id_cache_operation').addClass('alert-success');
        $('#id_cache_operation_text').text(text);
        $('#id_cache_operation').slideDown();
      }

      $('#id_update_cache').click(function() {
        $.ajax({
          method: "post",
          data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
          url: "{% url 'peeringdb-api:cache-update-local' %}",
          beforeSend: function() {
            $('#id_update_cache').attr('disabled', 'disabled').removeClass('btn-danger').addClass('btn-warning').html('<i class="fas fa-sync fa-spin fa-fw"></i> Working');
          },
          complete: function() {
            $('#id_update_cache').removeClass('btn-warning').addClass('btn-primary').removeAttr('disabled').html('<i class="fas fa-sync"></i> Update Cache');
          },
        }).done(function(response) {
          $.ajax({
            method: "get",
            url: "{% url 'peeringdb-api:cache-statistics' %}",
          }).done(function(response) {
            $('#id_peeringdb_fac_count').text(response['fac-count']);
            $('#id_peeringdb_ix_count').text(response['ix-count']);
            $('#id_peeringdb_ixfac_count').text(response['ixfac-count']);
            $('#id_peeringdb_ixlan_count').text(response['ixlan-count']);
            $('#id_peeringdb_ixlanpfx_count').text(response['ixlanpfx-count']);
            $('#id_peeringdb_net_count').text(response['net-count']);
            $('#id_peeringdb_poc_count').text(response['poc-count']);
            $('#id_peeringdb_net_count').text(response['net-count']);
            $('#id_peeringdb_netfac_count').text(response['netfac-count']);
            $('#id_peeringdb_netixlan_count').text(response['netixlan-count']);
            $('#id_peeringdb_org_count').text(response['org-count']);
          });
          showSuccessAlert('Cache successfully updated.');
        });
      });
      $('#id_clear_cache').click(function() {
        $.ajax({
          method: "post",
          data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
          url: "{% url 'peeringdb-api:cache-clear-local' %}",
          beforeSend: function() {
            $('#id_clear_cache').attr('disabled', 'disabled').removeClass('btn-danger').addClass('btn-warning').html('<i class="fas fa-sync fa-spin fa-fw"></i> Working');
          },
          complete: function() {
            $('#id_clear_cache').removeClass('btn-warning').addClass('btn-danger').removeAttr('disabled').html('<i class="fas fa-broom"></i> Clear Cache');
          },
        }).done(function(response) {
          $("span[id^='id_peeringdb_']").val('0');
          showSuccessAlert('Cache successfully cleared.');
        });
      });
    </script>
{% endblock %}
