{% extends '_base.html' %}
{% load helpers %}
{% block breadcrumb %}<li class="breadcrumb-item active" aria-current="page">{% block title %}Local Cache Management{% endblock %}</li>{% endblock %}
{% block content %}
<div class="alert alert-dismissible" role="alert" id="id_cache_operation">
  <button type="button" class="close" aria-label="Close"><span>&times;</span></button>
  <span id="id_cache_operation_text"></span>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>PeeringDB Cache</strong>
        {% if last_sync_time is not 0 %}
        <small class="text-muted float-right">Last updated: {{ last_sync_time | date_span }}</small>
        {% endif %}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Facilities <span class="badge badge-primary badge-pill">{{ fac_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Internet Exchanges <span class="badge badge-primary badge-pill">{{ ix_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Internet Exchange Facilities <span class="badge badge-primary badge-pill">{{ ixfac_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Internet Exchange LANs <span class="badge badge-primary badge-pill">{{ ixlan_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Internet Exchange LAN Prefixes <span class="badge badge-primary badge-pill">{{ ixlanpfx_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Networks <span class="badge badge-primary badge-pill">{{ net_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Network Contacts <span class="badge badge-primary badge-pill">{{ poc_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Network Facilities <span class="badge badge-primary badge-pill">{{ netfac_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Network Internet Exchange LANs <span class="badge badge-primary badge-pill">{{ netixlan_count }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Organizations <span class="badge badge-primary badge-pill">{{ org_count }}</span>
        </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-primary" id="update_cache">
              <i class="fas fa-sync"></i> Update Cache
            </button>
            <button type="button" class="btn btn-danger" id="clear_cache">
              <i class="fas fa-broom"></i> Clear Cache
            </button>
          </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
    <script>
      function resetSyncButton(button) {
        button.removeAttr('disabled');
        button.removeClass('btn-warning', 'btn-danger', 'btn-success');
        button.addClass('btn-primary').html('<i class="fas fa-sync"></i> Update Cache');
      }
      function resetClearButton(button) {
        button.removeAttr('disabled');
        button.removeClass('btn-warning', 'btn-primary', 'btn-success');
        button.addClass('btn-danger').html('<i class="fas fa-broom"></i> Clear Cache');
      }

      $('.alert').hide();
      $('.alert').on('click', '.close', function() {
        $(this).closest('.alert').slideUp();
      });

      function showSuccessAlert(text) {
        $('#id_cache_operation').addClass('alert-success');
        $('#id_cache_operation_text').text(text);
        $('#id_cache_operation').slideDown();
      }

      $('#update_cache').click(function () {
        $.ajax({
          method: "post",
          data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
          url: "{% url 'peeringdb-api:cache-update-local' %}",
          beforeSend: function () {
            PeeringManager.setWorkingButton($('#update_cache'));
          },
          complete: function () {
            resetSyncButton($('#update_cache'));
          },
        }).done(function () {
          showSuccessAlert('Cache update requested.');
        });
      });
      $('#clear_cache').click(function () {
        $.ajax({
          method: "post",
          data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
          url: "{% url 'peeringdb-api:cache-clear-local' %}",
          beforeSend: function () {
            PeeringManager.setWorkingButton($('#clear_cache'));
          },
          complete: function () {
            resetClearButton($('#clear_cache'));
          },
        }).done(function () {
          showSuccessAlert('Cache successfully cleared.');
        });
      });
    </script>
{% endblock %}
