{% extends base_template %}
{% load helpers %}
{% block subcontent %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <strong>Rendered context</strong>
        {% include 'includes/configcontext_format.html' with format=configcontext_format %}
      </div>
      {% include 'includes/configcontext_data.html' with data=rendered_context format=configcontext_format %}
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header"><strong>Local context data</strong></div>
      {% include 'includes/configcontext_data.html' with data=instance.local_context_data format=configcontext_format %}
    </div>
    {% include 'includes/configcontexts.html' %}
  </div>
</div>
{% endblock %}
