{% extends '_base.html' %}
{% load helpers %}
{% block actions %}
{% if perms.peering.change_email %}
<a href="{% url 'peering:email_edit' pk=email.pk %}" class="btn btn-warning">
  <i class="fas fa-edit"></i> Edit
</a>
{% endif %}
{% if perms.peering.delete_email %}
<a href="{% url 'peering:email_delete' pk=email.pk %}" class="btn btn-danger">
  <i class="fas fa-trash"></i> Delete
</a>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'peering:email_list' %}">Configurations</a></li>
<li class="breadcrumb-item active" aria-current="page">{% block title %}{{ email }}{% endblock %}</li>
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-2">
            <div class="card-header">
              <strong>E-mail Details</strong>
              <div class="float-right">
                <button class="btn btn-xs btn-primary" id="preview" title="Render an example">
                  <i class="fas fa-envelope-open-text"></i> Preview
                </button>
              </div>
            </div>
            <table class="card-body table table-hover attr-table mb-0">
              <tr>
                <td>Name</td>
                <td>{{ email.name }}</td>
              </tr>
              <tr>
                <td>Last update</td>
                <td>{{ email.updated }}</td>
              </tr>
            </table>
          </div>
          <div class="card mb-2">
            <div class="card-header"><strong>Subject Template</strong></div>
            <pre class="pre-scrollable">{{ email.subject }}</pre>
            <div class="card-footer">
              <i class="fa fa-info-circle"></i>
              <a href="https://peering-manager.readthedocs.io/en/latest/templates/" target="_blank">Jinja2 template</a> syntax
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <strong>Comments</strong>
            </div>
            <div class="card-body">
              {% if email.comments %}
              {{ email.comments|markdown }}
              {% else %}
              <span class="text-muted">None</span>
              {% endif %}
            </div>
          </div>
          {% include 'utils/includes/tags_card.html' with tags=email.tags.all url='peering:email_list' %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card mt-2">
            <div class="card-header"><strong>Body Template</strong></div>
            <pre class="pre-scrollable">{{ email.template }}</pre>
            <div class="card-footer">
              <i class="fa fa-info-circle"></i>
              <a href="https://peering-manager.readthedocs.io/en/latest/templates/" target="_blank">Jinja2 template</a> syntax
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block javascript %}
    <script>
      $('#preview').click(function() {
        $.ajax({
          method: 'get',
          url: "{% url 'peering-api:email-render-preview' pk=email.pk %}",
          data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
          beforeSend: function() {
            $('#preview').attr('disabled', 'disabled')
                         .removeClass('btn-primary').addClass('btn-warning')
                         .html('<i class="fas fa-sync fa-spin fa-fw"></i> Working');
          },
        }).done(function(response) {
          if (response['error']) {
            $('.modal-title').html('An error occured while rendering the template')
            $('.modal-body').html('<pre class="pre-scrollable">' + response['error'] + '</pre>');
            $('.modal').modal('show');
          } else {
            $('.modal-title').html(response['preview'][0])
            $('.modal-body').html('<pre class="pre-scrollable">' + response['preview'][1] + '</pre>');
            $('.modal').modal('show');
          }
        }).always(function() {
          $('#preview').removeAttr('disabled')
                       .removeClass('btn-warning').addClass('btn-primary')
                       .html('<i class="fas fa-envelope-open-text"></i> Preview');
        });
      });
    </script>
{% endblock %}
