{% extends '_base.html' %}
{% load helpers %}
{% block content %}
      <div class="row justify-content-md-center">
      	<div class="col-md-6 ">
          <form method="post">
            {% csrf_token %}
            {% for field in form.hidden_fields %}
            {{ field }}
            {% endfor %}
            <div class="card border border-danger">
              <div class="card-header bg-danger text-white">{% block title %}Delete {{ object_type|title_with_uppers }}?{% endblock %}</div>
              <div class="card-body">
                <p>Are you sure that you want to delete <strong>{{ object }}</strong>?</p>
                <div class="text-end">
                  <button type="submit" class="btn btn-danger">Confirm</button>
                  <a class="btn btn-secondary" href="{{ return_url }}">Cancel</a>
                </div>
              </div>
            </div>
          </form>
      	</div>
      </div>
{% endblock %}
