{% extends '_base.html' %}
{% load render_table from django_tables2 %}
{% block actions %}
{% if perms.bgp.add_community %}
<a href="{% url 'bgp:community_add' %}" class="btn btn-primary">
  <i class="fa-fw fa-solid fa-plus"></i> Add
</a>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">{% block title %}Communities{% endblock %}</li>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-9">
    {% include 'generic/object_list.html' with table_modal='CommunityTable_config' bulk_edit_url='bgp:community_bulk_edit' bulk_delete_url='bgp:community_bulk_delete' %}
  </div>
  <div class="col-md-3">
    {% include 'utils/search_form.html' %}
  </div>
</div>
{% endblock %}
