{% extends 'bgp/community/_base.html' %}
{% load helpers %}
{% block subcontent %}
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><strong>Community Details</strong></div>
      <table class="card-body table table-hover attr-table mb-0">
        <tr>
          <td>Name</td>
          <td>{{ instance.name }}</td>
        </tr>
        <tr>
          <td>Slug</td>
          <td>{{ instance.slug }}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ instance.description|render_none }}</td>
        </tr>
        {% with kind=instance.kind %}
        {% if kind %}
        <tr>
          <td>Kind</td>
          <td>{{ kind|capfirst }}</td>
        </tr>
        {% endif %}
        {% endwith %}
        {% if instance.type %}
        <tr>
          <td>Type</td>
          <td>{{ instance.get_type_html }}</td>
        </tr>
        {% endif %}
        <tr>
          <td>Value</td>
          <td><code>{{ instance.value }}</code></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    {% include 'includes/tags_card.html' with tags=instance.tags.all url='bgp:community_list' %}
  </div>
</div>
{% endblock %}
