{% extends '_base.html' %}
{% load helpers %}
{% block actions %}
{% if perms.extras.change_ixapi %}
<a href="{% url 'extras:ixapi_edit' pk=instance.pk %}" class="btn btn-warning">
  <i class="fas fa-edit"></i> Edit
</a>
{% endif %}
{% if perms.extras.delete_ixapi %}
<a href="{% url 'extras:ixapi_delete' pk=instance.pk %}" class="btn btn-danger">
  <i class="fas fa-trash"></i> Delete
</a>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'extras:ixapi_list' %}">IX-API</a></li>
<li class="breadcrumb-item active" aria-current="page">{% block title %}{{ instance }}{% endblock %}</li>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card mb-2">
      <div class="card-header"><strong>Details</strong></div>
      <table class="card-body table table-hover attr-table mb-0">
        <tr>
          <td>Name</td>
          <td>{{ instance.name }}</td>
        </tr>
        <tr>
          <td>URL</td>
          <td>{{ instance.url | urlize }}</td>
        </tr>
        <tr>
          <td>API key</td>
          <td><code>{{ instance.api_key }}</code></td>
        </tr>
        <tr>
          <td>Version</td>
          <td>{{ instance.version }}</td>
        </tr>
        <tr>
          <td>Created</td>
          <td>{{ instance.created | date_span }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}