{% extends 'extras/ixapi/_base.html' %}
{% load helpers %}
{% block subcontent %}
<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header"><strong>Details</strong></div>
      <table class="card-body table table-hover attr-table mb-0">
        <tr>
          <td>Name</td>
          <td>{{ instance.name }}</td>
        </tr>
        <tr>
          <td>API URL</td>
          <td>{{ instance.api_url | urlize }}</td>
        </tr>
        <tr>
          <td>API key</td>
          <td><code>{{ instance.api_key }}</code></td>
        </tr>
        {% if instance.identity %}
        <tr>
          <td>Identity</td>
          <td>{{ instance.get_identity.name }} (<code>{{ instance.identity }}</code>)</td>
        </tr>
        {% endif %}
        <tr>
          <td>Version</td>
          <td>
            {{ instance.version }}
            {% if instance.version == 1 %}
            <span class="float-end" data-bs-toggle="tooltip" data-placement="top" title="IX-API version 1 is deprecated and will be phased out on 2026-07-01.">
              <i class="fa-solid fa-triangle-exclamation"></i>
            </span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Created</td>
          <td>{{ instance.created | date_span }}</td>
        </tr>
        {% if instance.access_token_expiration %}
        <tr>
          <td>Access token expiration</td>
          <td>{{ instance.access_token_expiration | date_span }}</td>
        </tr>
        {% endif %}
        {% if instance.refresh_token_expiration %}
        <tr>
          <td>Refresh token expiration</td>
          <td>{{ instance.refresh_token_expiration | date_span }}</td>
        </tr>
        {% endif %}
        <tr>
          <td>Used by</td>
          <td>{{ internet_exchange_points | length }} Internet Exchange point{{ internet_exchange_points | length | pluralize }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
