{% load helpers %}
<div class="card mb-3">
  <div class="card-header"><strong>Contacts</strong></div>
  {% with contacts=instance.contacts.all %}
  {% if contacts.exists %}
  <table class="card-body table table-hover attr-table mb-0">
    <tr><th>Name</th><th>Role</th><th></th></tr>
    {% for contact in contacts %}
    <tr>
      <td><a href="{{ contact.contact.get_absolute_url }}">{{ contact.contact }}</a></td>
      <td>{{ contact.role|render_none }}</td>
      <td class="text-end">
        {% if perms.messaging.change_contactassignment %}
          <a href="{% url 'messaging:contactassignment_edit' pk=contact.pk %}?return_url={{ instance.get_absolute_url }}" class="btn btn-warning btn-sm lh-1" title="Edit">
            <i class="fa-fw fa-solid fa-edit"></i>
          </a>
        {% endif %}
        {% if perms.messaging.delete_contactassignment %}
          <a href="{% url 'messaging:contactassignment_delete' pk=contact.pk %}?return_url={{ instance.get_absolute_url }}" class="btn btn-danger btn-sm lh-1" title="Delete">
            <i class="fa-fw fa-solid fa-trash-alt"></i>
          </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="card-body text-muted">None</div>
  {% endif %}
  {% endwith %}
  {% if perms.messaging.add_contactassignment %}
  <div class="card-footer text-end">
    <a href="{% url 'messaging:contactassignment_add' %}?content_type={{ instance|content_type_id }}&object_id={{ instance.pk }}&return_url={{ instance.get_absolute_url }}" class="btn btn-primary btn-sm">
      <i class="fa-fw fa-solid fa-plus"></i> Add a contact
    </a>
  </div>
  {% endif %}
</div>
