{% load helpers %}

<div class="paginator float-right text-right">
  {% if paginator.num_pages > 1 %}
  <div class="d-flex flex-row-reverse">
    <nav>
      <ul class="pagination pagination-sm">
        {% if page.has_previous %}
        <li class="page-item"><a class="page-link" href="{% querystring request page=page.previous_page_number %}"><i class="fas fa-angle-double-left"></i></a></li>
        {% endif %}
        {% for p in page.smart_pages %}
        {% if p %}
        <li class="page-item{% ifequal page.number p %} active{% endifequal %}"><a class="page-link" href="{% querystring request page=p %}">{{ p }}</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&hellip;</span></li>
        {% endif %}
        {% endfor %}
        {% if page.has_next %}
        <li class="page-item"><a class="page-link" href="{% querystring request page=page.next_page_number %}"><i class="fas fa-angle-double-right"></i></a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  {% endif %}
  {% if page %}
  <div class="btn-group dropup">
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Per Page
    </button>
    <ul class="dropdown-menu">
      {% for n in page.paginator.get_page_lengths %}
      <a href="{% querystring request per_page=n %}" class="dropdown-item">{{ n }}</a>
      {% endfor %}
    </ul>
  </div>
  <div class="d-flex flex-row-reverse">
    <div class="text-muted">
      Showing {{ page.start_index }}-{{ page.end_index }} of {{ page.paginator.count }}
    </div>
  </div>
  {% endif %}
</div>
