{% extends '_base.html' %}
{% load render_table from django_tables2 %}
{% block actions %}
{% if perms.devices.add_platform %}
<a href="{% url 'devices:platform_add' %}" class="btn btn-primary">
  <i class="fas fa-plus"></i> Add
</a>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">{% block title %}Platforms{% endblock %}</li>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
    {% include 'utils/object_list.html' with bulk_delete_url='devices:platform_bulk_delete' %}
  </div>
</div>
{% endblock %}
