{% load form_helpers %}
{% load helpers %}

{% if form.errors or form.non_field_errors %}
<div class="card bg-danger text-white mb-3">
  <div class="card-header"><strong>Errors</strong></div>
  <div class="card-body">
    {% if form.errors and '__all__' not in form.errors %}
    {% for field_name, errors in form.errors.items %}
    {% if not field_name|startswith:'__' %}
    <div class="mb-3">
      {% with field=form|getfield:field_name %}
      <strong>{{ field.label }}</strong>
      <ul>
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endwith %}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if form.non_field_errors %}
    {{ form.non_field_errors }}
    {% endif %}
  </div>
</div>
{% endif %}
