{% extends 'generic/object_list.html' %}
{% block extra_buttons %}
{% if perms.peering.change_internetexchangepeeringsession and instance.are_bgp_sessions_pollable %}
<button type="button" class="btn btn-sm btn-success" id="id_poll_sessions_state">
  <i class="fas fa-sync"></i> Poll Sessions
</button>
{% endif %}
{% if perms.peering.add_internetexchangepeeringsession %}
<a href="{% url 'peering:internetexchangepeeringsession_add' %}?autonomous_system={{ instance.pk }}&return_url={{ instance.get_internet_exchange_peering_sessions_list_url }}" class="btn btn-sm btn-primary">
  <i class="fas fa-plus"></i> Add
</a>
{% endif %}
{% endblock %}
