{% extends 'peering/community/_base.html' %}
{% load helpers %}
{% block subcontent %}
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><strong>Community Details</strong></div>
      <table class="card-body table table-hover attr-table mb-0">
        <tr>
          <td>Name</td>
          <td>{{ instance.name }}</td>
        </tr>
        <tr>
          <tr>
            <td>Slug</td>
            <td>{{ instance.slug }}</td>
          </tr>
          <tr>
          <td>Value</td>
          <td><code>{{ instance.value }}</code></td>
        </tr>
        <tr>
          <td>Type</td>
          <td>{{ instance.get_type_html }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">strong>Comments</strong></div>
      <div class="card-body">
        {% if instance.comments %}
        {{ instance.comments|markdown }}
        {% else %}
        <span class="text-muted">None</span>
        {% endif %}
      </div>
    </div>
    {% include 'utils/includes/tags_card.html' with tags=instance.tags.all url='peering:community_list' %}
  </div>
</div>
{% endblock %}
