{% extends '_base.html' %}
{% load helpers %}
{% block actions %}
{% if perms.peering.change_community %}
<a href="{% url 'peering:community_edit' pk=community.pk %}" class="btn btn-warning">
  <i class="fas fa-edit"></i> Edit
</a>
{% endif %}
{% if perms.peering.delete_community %}
<a href="{% url 'peering:community_delete' pk=community.pk %}" class="btn btn-danger">
  <i class="fas fa-trash"></i> Delete
</a>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'peering:community_list' %}">Communities</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ community }}</li>
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <strong>Community Details</strong>
            </div>
            <table class="table table-hover card-body attr-table">
              <tr>
                <td>Name</td>
                <td>{{ community.name }}</td>
              </tr>
              <tr>
                <td>Value</td>
                <td><code>{{ community.value }}</code></td>
              </tr>
              <tr>
                <td>Type</td>
                <td>{{ community.get_type_html }}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <strong>Comments</strong>
            </div>
            <div class="card-body">
              {% if community.comment %}
              {{ community.comment|markdown }}
              {% else %}
              <span class="text-muted">None</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}
