{% extends '_base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
      {% if request.user.is_authenticated %}
      <div class="pull-right">
        <a href="{% url 'peering:community_add' %}" class="btn btn-primary">
          <span class="fa fa-plus" aria-hidden="true"></span>
          Add a Community
        </a>
        <a href="{% url 'peering:community_import' %}" class="btn btn-info">
          <span class="fa fa-upload" aria-hidden="true"></span>
          Import Communities
        </a>
      </div>
      {% endif %}
      <h1>{% block title %}Communities{% endblock %}</h1>
      <div class="row">
        {% render_table communities 'utils/table.html' %}
      </div>
{% endblock %}
