{% extends 'utils/object_list.html' %}
{% if request.user.is_authenticated %}
{% block extra_buttons %}
<a href="{% url 'peering:peering_session_add' slug=internet_exchange.slug %}" class="btn btn-sm btn-primary">
  <i class="fas fa-plus" aria-hidden="true"></i>
  Add a Peering Session
</a>
{% if internet_exchange.router and internet_exchange.router.platform %}
<a href="{% url 'peering:ix_import_from_router' slug=internet_exchange.slug %}" class="btn btn-sm btn-info">
  <i class="fas fa-upload" aria-hidden="true"></i>
  Import from Router
</a>
{% endif %}
{% endblock %}
{% endif %}
