{% extends '_base.html' %}
{% load helpers %}
{% block actions %}
{% if perms.peering.change_routingpolicy %}
<a href="{% url 'peering:routing_policy_edit' pk=routing_policy.pk %}" class="btn btn-warning">
  <i class="fas fa-edit"></i> Edit
</a>
{% endif %}
{% if perms.peering.delete_routingpolicy %}
<a href="{% url 'peering:routing_policy_delete' pk=routing_policy.pk %}" class="btn btn-danger">
  <i class="fas fa-trash"></i> Delete
</a>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'peering:routing_policy_list' %}">Routing Policies</a></li>
<li class="breadcrumb-item active" aria-current="page">{% block title %}{{ routing_policy }}{% endblock %}</li>
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <strong>Routing Policy Details</strong>
            </div>
            <table class="card-body table table-hover attr-table mb-0">
              <tr>
                <td>Name</td>
                <td>{{ routing_policy.name }}</td>
              </tr>
              <tr>
                <td>Type</td>
                <td>{{ routing_policy.get_type_display }}</td>
              </tr>
              <tr>
                <td>Weight</td>
                <td>{{ routing_policy.weight }}</td>
              </tr>
              <tr>
                <td>Address Family</td>
                <td>{{ routing_policy.get_address_family_display }}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <strong>Comments</strong>
            </div>
            <div class="card-body">
              {% if routing_policy.comment %}
              {{ routing_policy.comment|markdown }}
              {% else %}
              <span class="text-muted">None</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}
