{% extends '_base.html' %}
{% load helpers %}
{% block actions %}
{% if perms.peering.change_bgpgroup %}
<a href="{% url 'peering:bgpgroup_edit' slug=bgpgroup.slug %}" class="btn btn-warning">
  <i class="fas fa-edit"></i> Edit
</a>
{% endif %}
{% if perms.peering.delete_bgpgroup %}
<a href="{% url 'peering:bgpgroup_delete' slug=bgpgroup.slug %}" class="btn btn-danger">
  <i class="fas fa-trash"></i> Delete
</a>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'peering:bgpgroup_list' %}">BGP Groups</a></li>
<li class="breadcrumb-item active" aria-current="page">{% block title %}{{ bgpgroup }}{% endblock %}</li>
{% endblock %}
{% block content %}
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link{% if request.path|notcontains:'/peering-sessions/' %} active{% endif %}" href="{% url 'peering:bgpgroup_details' slug=bgpgroup.slug %}">
            <i class="fas fa-info-circle"></i> Info
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path|contains:'/peering-sessions/' %} active{% endif %}" href="{% url 'peering:bgpgroup_peering_sessions' slug=bgpgroup.slug %}">
            <i class="fas fa-ethernet"></i> Direct Peering Sessions
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
            {% if bgpgroup.bgp_session_states_update %}
            Sessions last updated: {{ bgpgroup.bgp_session_states_update }}
            {% else %}
            Last updated: {{ bgpgroup.updated }}
            {% endif %}
          </a>
        </li>
      </ul>
      {% block subcontent %}{% endblock %}
{% endblock %}
