{% extends 'bgp/relationship/_base.html' %}
{% load helpers %}
{% block subcontent %}
<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header"><strong>Relationship Details</strong></div>
      <table class="card-body table table-hover attr-table mb-0">
        <tr>
          <td>Name</td>
          <td>{{ instance.name }}</td>
        </tr>
        <tr>
          <tr>
            <td>Slug</td>
            <td>{{ instance.slug }}</td>
          </tr>
          <tr>
          <td>Description</td>
          <td><code>{{ instance.description|render_none }}</code></td>
        </tr>
        <tr>
          <td>Color</td>
          <td>
            <span class="label colour-block" style="background-color: #{{ instance.color }}">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
          </td>
        </tr>
      </table>
    </div>
    {% include 'includes/tags_card.html' with tags=instance.tags.all url='extras:tag_list' %}
  </div>
</div>
{% endblock %}
