{% extends '_base.html' %}
{% load helpers %}
{% block actions %}
{% if perms.core.change_datasource %}
<a href="{% url 'core:datasource_edit' pk=instance.pk %}" class="btn btn-warning">
  <i class="fas fa-edit"></i> Edit
</a>
{% endif %}
{% if perms.core.delete_datasource %}
<a href="{% url 'core:datasource_delete' pk=instance.pk %}" class="btn btn-danger">
  <i class="fas fa-trash"></i> Delete
</a>
{% endif %}
{% if instance.ready_for_synchronisation %}
<button type="button" class="btn btn-primary" id="id_synchronise" title="Start data source synchronisation.">
  <i class="fa-solid fa-rotate"></i> Synchronise
</button>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'core:datasource_list' %}">Data Sources</a></li>
<li class="breadcrumb-item active" aria-current="page">{% block title %}{{ instance }}{% endblock %}</li>
{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link{% if tab == 'main' %} active{% endif %}" href="{% url 'core:datasource_view' pk=instance.pk %}">
      <i class="fas fa-info-circle"></i> Info
    </a>
  </li>
  {% if datafile_count > 0 %}
  <li class="nav-item">
    <a class="nav-link{% if tab == 'files' %} active{% endif %}" href="{% url 'core:datasource_files' pk=instance.pk %}">
      <i class="fa-solid fa-file"></i> Files <span class="badge bg-secondary text-light">{{ datafile_count }}</span>
    </a>
  </li>
  {% endif %}
</ul>
{% block subcontent %}{% endblock %}
{% endblock %}
