{% extends '_base.html' %}
{% load helpers %}
{% block actions %}
{% if perms.peering.change_router %}
<a href="{% url 'peering:router_edit' pk=instance.pk %}" class="btn btn-warning">
  <i class="fas fa-edit"></i> Edit
</a>
{% endif %}
{% if perms.peering.delete_router %}
<a href="{% url 'peering:router_delete' pk=instance.pk %}" class="btn btn-danger">
  <i class="fas fa-trash"></i> Delete
</a>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'peering:router_list' %}">Routers</a></li>
<li class="breadcrumb-item active" aria-current="page">{% block title %}{{ instance }}{% endblock %}</li>
{% endblock %}
{% block content %}
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link{% if active_tab == 'main' %} active{% endif %}" href="{% url 'peering:router_details' pk=instance.pk %}">
            <i class="fas fa-info-circle"></i> Info
          </a>
        </li>
        {% if perms.peering.view_router_configuration and instance.configuration_template %}
        <li class="nav-item">
          <a class="nav-link{% if active_tab == 'configuration' %} active{% endif %}" href="{% url 'peering:router_configuration' pk=instance.pk %}">
            <i class="fas fa-terminal"></i> Configuration
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link{% if active_tab == 'connections' %} active{% endif %}" href="{% url 'peering:router_connections' pk=instance.pk %}">
            <i class="fas fa-sitemap"></i> Connections
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if active_tab == 'directsessions' %} active{% endif %}" href="{% url 'peering:router_direct_peering_sessions' pk=instance.pk %}">
            <i class="fas fa-ethernet"></i> Direct Peering Sessions
          </a>
        </li>
        {% if instance.get_peering_sessions|length > 0 %}
        <li class="nav-item">
          <a class="nav-link{% if active_tab == 'ixsessions' %} active{% endif %}" href="{% url 'peering:router_internet_exchange_peering_sessions' pk=instance.pk %}">
            <i class="fas fa-network-wired"></i> IX Peering Sessions
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link{% if active_tab == 'changelog' %} active{% endif %}" href="{% url 'peering:router_changelog' pk=instance.pk %}">
            <i class="fas fa-history"></i> Changelog
          </a>
        </li>
      </ul>
      {% block subcontent %}{% endblock %}
{% endblock %}
