{% extends 'utils/object_add_edit.html' %}
{% load form_helpers %}
{% block form %}
            <div class="card my-2">
              <div class="card-header"><strong>Router</strong></div>
              <div class="card-body">
                {% if settings.NETBOX_API %}
                {% render_field form.netbox_device_id %}
                {% render_field form.use_netbox %}
                {% endif %}
                {% render_field form.name %}
                {% render_field form.hostname %}
                {% render_field form.platform %}
                {% render_field form.encrypt_passwords %}
                {% render_field form.configuration_template %}
                {% render_field form.local_autonomous_system %}
              </div>
            </div>
            <div class="card my-2">
              <div class="card-header"><strong>NAPALM</strong></div>
              <div class="card-body">
                {% render_field form.napalm_username %}
                {% render_field form.napalm_password %}
                {% render_field form.napalm_timeout %}
                {% render_field form.napalm_args %}
              </div>
            </div>
            <div class="card my-2">
              <div class="card-header"><strong>Tags</strong></div>
              <div class="card-body">
                {% render_field form.tags %}
              </div>
            </div>
            <div class="card my-2">
              <div class="card-header"><strong>Comments</strong></div>
              <div class="card-body">
                {% render_field form.comments %}
              </div>
            </div>
{% endblock %}
{% if settings.NETBOX_API %}
{% block javascript %}
    <script>
      // Bind function to select click
      $("#id_netbox_device_id").change(function() {
        if ($(this).val() == 0) {
          $("#id_name").val("");
        } else {
          var device_name = $("#id_netbox_device_id option:selected").text();
          $("#id_name").val(device_name);
          $("#id_use_netbox").prop("checked", true);
        }
      });
    </script>
{% endblock %}
{% endif %}
