{% extends '_base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
      {% if perms.peering.add_router %}
      <div class="float-right">
        <a href="{% url 'peering:router_add' %}" class="btn btn-primary">
          <i class="fas fa-plus"></i> Add a Router
        </a>
        <a href="{% url 'peering:router_import' %}" class="btn btn-info">
          <i class="fas fa-upload"></i> Import Routers
        </a>
      </div>
      {% endif %}
      <h1>{% block title %}Routers{% endblock %}</h1>
      <div class="row">
        <div class="col-md-9">
          {% include 'utils/object_list.html' with bulk_delete_url='peering:router_bulk_delete' %}
        </div>
        <div class="col-md-3">
          {% include 'utils/search_form.html' %}
        </div>
      </div>
{% endblock %}
