{% extends '_base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <i class="fa-fw fa-solid fa-exclamation-triangle"></i> <strong>Page Not Found</strong>
      </div>
      <div class="card-body">The requested page does not exist.</div>
      <div class="card-footer text-end">
        <a href="{% url 'home' %}" class="btn btn-sm btn-primary">Home Page</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
