{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Server Error</title>
  <script defer src="{% static 'fontawesome-5.0.13/js/fontawesome-all.js' %}"></script>
  <link rel="stylesheet" href="{% static 'bootstrap-4.1.1-dist/css/bootstrap.min.css' %}">
</head>
<body>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card bg-danger text-white" style="margin-top: 200px">
          <div class="card-header">
            <i class="fas fa-exclamation-triangle"></i> <strong>Server Error</strong>
          </div>
          <div class="card-body">
            <p class="card-text">There was a problem with your request. This error has been logged and administrative staff have
               been notified. Please return to the home page and try again.</p>
            <p class="card-text">If you are responsible for this installation, please consider
               <a href="https://github.com/respawner/peering-manager/issues">filing a bug report</a>. Additional
               information is provided below:</p>
            <pre><strong>{{ exception }}</strong><br />{{ error }}</pre>
            <div class="text-right">
              <a href="{% url 'home' %}" class="btn btn-primary">Home Page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
