{% load static %}
{% load helpers %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Home{% endblock %} - Peering Manager</title>

    <script defer src="{% static 'fontawesome-5.7.1/js/all.js' %}"></script>

    <link rel="stylesheet" href="{% static 'bootstrap-4.2.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-select-1.13.2/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v{{ settings.VERSION }}"
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Peering Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li {% if request.path|contains:'/autonomous-systems/' %}class="active"{% endif %}><a class="nav-link" href="{% url 'peering:autonomous_system_list' %}">Autonomous Systems</a></li>
          <li class="nav-item{% if request.path|contains:'/internet-exchanges/' %} active{% endif %}"><a class="nav-link" href="{% url 'peering:internet_exchange_list' %}">Internet Exchanges</a></li>
          <li class="nav-item dropdown{% if request.path|contains:'/communities/,/rounting-policies/' %} active{% endif %}">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Policy Options</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'peering:community_list' %}">Communities</a></li>
              <li><a class="dropdown-item" href="{% url 'peering:routing_policy_list' %}">Routing Policies</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown{% if request.path|contains:'/routers/,/templates/' %} active{% endif %}">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Deployment</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'peering:router_list' %}">Routers</a></li>
              <li><a class="dropdown-item" href="{% url 'peering:configuration_template_list' %}">Templates</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" title="{{ request.user }}" role="button" aria-haspopup="true" aria-expanded="false">
              {{ request.user|truncatechars:"30" }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'users:profile' %}"><i class="fa fa-user"></i> Profile</a>
              {% if request.user.is_staff %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fa fa-cogs"></i> Admin</a>
              <a class="dropdown-item" href="{% url 'peeringdb:cache_management' %}"><i class="fas fa-database"></i> Cache Management</a>
              {% endif %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log out</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}?next={{ request.path }}"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
          {% endif %}
        </ul>
      </div>
      </div>
    </nav>
    <div class="container wrapper">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span>&times;</span>
        </button>
        {{ message }}
      </div>
      {% endfor %}
      {% block content %}{% endblock %}
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <p class="col text-muted text-left">{{ settings.HOSTNAME }} (v{{ settings.VERSION }})</p>
          <p class="col text-muted text-center">{% now 'Y-m-d H:i:s T' %}</p>
          <p class="col ext-muted text-right">
            <i class="fa fa-fw fa-cloud text-primary"></i> <a href="{% url 'api-root' %}">API</a> &middot;
            <i class="fas fa-fw fa-book text-primary"></i> <a href="http://peering-manager.readthedocs.io/">Docs</a> &middot;
            <i class="fab fa-fw fa-github text-primary"></i> <a href="https://github.com/respawner/peering-manager">GitHub</a> &middot;
            <i class="fas fa-fw fa-bug text-primary"></i> <a href="https://github.com/respawner/peering-manager/issues">Issues</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.2.1-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap-select-1.13.2/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}?v{{ settings.VERSION }}"></script>
    <script src="{% static 'js/forms.js' %}?v{{ settings.VERSION }}"></script>
    {% block javascript %}{% endblock %}
  </body>
  </html>
