{% load static %}
{% load helpers %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="{% static 'js/colour-mode.js' %}?{{ settings.VERSION }}"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

    <title>{% block title %}Home{% endblock %} - Peering Manager</title>

    <script defer src="{% static 'fontawesome-6.6.0/js/all.js' %}"></script>

    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-6.6.0/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}?{{ settings.VERSION }}">
    <link rel="icon" type="image/png" href="{% static 'img/peering-manager.ico' %}" />

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'select2-4.0.13/js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}?{{ settings.VERSION }}"></script>
    <script src="{% static 'js/forms.js' %}?{{ settings.VERSION }}"></script>
  </head>
  <body>
    <div class="page">
      <aside class="navbar navbar-vertical navbar-expand-lg col-md-3 col-lg-2 position-fixed">
        <div class="container-fluid flex-column align-items-stretch justify-content-start p-0" style="min-height: 100%">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand">
            <a href="{% url 'home' %}">
              <img class="navbar-brand-image hide-theme-light" src="{% static 'img/inline-dark.svg' %}" alt="Peering Manager Logo">
              <img class="navbar-brand-image hide-theme-dark" src="{% static 'img/inline-light.svg' %}" alt="Peering Manager Logo">
            </a>
          </h1>
          {% with request.path as url_path %}
          <div class="collapse navbar-collapse flex-column align-items-stretch" id="sidebar-menu">
            <ul class="navbar-nav flex-column pt-lg-2">
              <li class="nav-item">
                <a href="{% url 'peering:autonomoussystem_list' %}" class="nav-link{% if url_path|contains:'/autonomous-systems/' %} active{% endif %}">
                  <i class="fa-fw fa-solid fa-building me-2"></i>
                  Autonomous Systems
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'peering:bgpgroup_list' %}" class="nav-link{% if url_path|contains:'/bgp-groups/' %} active{% endif %}">
                  <i class="fa-fw fa-regular fa-object-group me-2"></i>
                  BGP Groups
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'peering:internetexchange_list' %}" class="nav-link{% if url_path|contains:'/internet-exchanges/' %} active{% endif %}">
                  <i class="fa-fw fa-solid fa-right-left me-2"></i>
                  Internet Exchanges
                </a>
              </li>
              <li class="nav-item">
                <a href="#net-menu" data-bs-toggle="collapse" aria-expanded="false" class="nav-link">
                  <i class="fa-fw fa-solid fa-network-wired me-2"></i>
                  Network
                  <span class="submenu-icon float-end"><i class="fa-fw fa-solid fa-caret-right"></i></span>
                </a>
                <ul id="net-menu" class="collapse list-unstyled">
                  <li class="nav-item"><a href="{% url 'net:connection_list' %}" class="nav-link{% if url_path|contains:'/net/connections/' %} active{% endif %}">Connections</a></li>
                  <li class="nav-item"><a href="{% url 'net:bfd_list' %}" class="nav-link{% if url_path|contains:'/net/bfd/' %} active{% endif %}">BFD</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#provisioning-menu" data-bs-toggle="collapse" aria-expanded="false" class="nav-link">
                  <i class="fa-fw fa-solid fa-folder-tree me-2"></i>
                  Provisioning
                  <span class="submenu-icon float-end"><i class="fa-fw fa-solid fa-caret-right"></i></span>
                </a>
                <ul id="provisioning-menu" class="collapse list-unstyled">
                  <li class="nav-item"><a href="{% url 'peeringdb:ixp_peers' %}" class="nav-link{% if url_path|contains:'/peeringdb/available-ixp-peers/' %} active{% endif %}">Available IXP Peers</a></li>
                  <li class="nav-item"><a href="{% url 'peeringdb:email_network' %}" class="nav-link{% if url_path|contains:'/peeringdb/email-network/' %} active{% endif %}">Send E-mail to Network</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#policyoptions-menu" data-bs-toggle="collapse" aria-expanded="false" class="nav-link">
                  <i class="fa-fw fa-solid fa-filter me-2"></i>
                  Policy Options
                  <span class="submenu-icon float-end"><i class="fa-fw fa-solid fa-caret-right"></i></span>
                </a>
                <ul id="policyoptions-menu" class="collapse list-unstyled">
                  <li class="nav-item"><a href="{% url 'peering:community_list' %}" class="nav-link{% if url_path|contains:'/communities/' %} active{% endif %}">Communities</a></li>
                  <li class="nav-item"><a href="{% url 'peering:routingpolicy_list' %}" class="nav-link{% if url_path|contains:'/routing-policies/' %} active{% endif %}">Routing Policies</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#devices-menu" data-bs-toggle="collapse" aria-expanded="false" class="nav-link">
                  <i class="fa-fw fa-solid fa-server me-2"></i>
                  Devices
                  <span class="submenu-icon float-end"><i class="fa-fw fa-solid fa-caret-right"></i></span>
                </a>
                <ul id="devices-menu" class="collapse list-unstyled">
                  <li class="nav-item"><a href="{% url 'devices:configuration_list' %}" class="nav-link{% if url_path|contains:'/devices/configurations/' %} active{% endif %}">Configurations</a></li>
                  <li class="nav-item"><a href="{% url 'devices:router_list' %}" class="nav-link{% if url_path|contains:'/devices/routers/' %} active{% endif %}">Routers</a></li>
                  <li class="nav-item"><a href="{% url 'devices:platform_list' %}" class="nav-link{% if url_path|contains:'/devices/platforms/' %} active{% endif %}">Platforms</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#messaging-menu" data-bs-toggle="collapse" aria-expanded="false" class="nav-link">
                  <i class="fa-fw fa-solid fa-message me-2"></i>
                  Messaging
                  <span class="submenu-icon float-end"><i class="fa-fw fa-solid fa-caret-right"></i></span>
                </a>
                <ul id="messaging-menu" class="collapse list-unstyled">
                  <li class="nav-item"><a href="{% url 'messaging:contact_list' %}" class="nav-link{% if url_path|contains:'/messaging/contacts/' %} active{% endif %}">Contacts</a></li>
                  <li class="nav-item"><a href="{% url 'messaging:contactrole_list' %}" class="nav-link{% if url_path|contains:'/messaging/contact-roles/' %} active{% endif %}">Contact Roles</a></li>
                  <li class="nav-item"><a href="{% url 'messaging:email_list' %}" class="nav-link{% if url_path|contains:'/messaging/emails/' %} active{% endif %}">E-mails</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#thirdparty-menu" data-bs-toggle="collapse" aria-expanded="false" class="nav-link">
                  <i class="fa-fw fa-solid fa-sliders me-2"></i>
                  3rd Party
                  <span class="submenu-icon float-end"><i class="fa-fw fa-solid fa-caret-right"></i></span>
                </a>
                <ul id="thirdparty-menu" class="collapse list-unstyled">
                  <li class="nav-item"><a href="{% url 'peeringdb:cache_management' %}" class="nav-link{% if url_path|contains:'/peeringdb/cache/' %} active{% endif %}">PeeringDB</a></li>
                  <li class="nav-item"><a href="{% url 'extras:ixapi_list' %}" class="nav-link{% if url_path|contains:'/extras/ix-api/' %} active{% endif %}">IX-API</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#operations-menu" data-bs-toggle="collapse" aria-expanded="false" class="nav-link">
                  <i class="fa-fw fa-solid fa-gears me-2"></i>
                  Operations
                  <span class="submenu-icon float-end"><i class="fa-fw fa-solid fa-caret-right"></i></span>
                </a>
                <ul id="operations-menu" class="collapse list-unstyled">
                  <li class="nav-item"><a href="{% url 'core:datasource_list' %}" class="nav-link{% if url_path|contains:'/core/data-sources/' %} active{% endif %}">Data Sources</a></li>
                  <li class="nav-item"><a href="{% url 'core:job_list' %}" class="nav-link{% if url_path|contains:'/core/jobs/' %} active{% endif %}">Jobs</a></li>
                  <li class="nav-item"><a href="{% url 'extras:webhook_list' %}" class="nav-link{% if url_path|contains:'/extras/webhooks/' %} active{% endif %}">Webhooks</a></li>
                  <li class="nav-item"><a href="{% url 'extras:journalentry_list' %}" class="nav-link{% if url_path|contains:'/extras/journal-entries/' %} active{% endif %}">Journal Entries</a></li>
                  <li class="nav-item"><a href="{% url 'core:objectchange_list' %}" class="nav-link{% if url_path|contains:'/core/changelog/' %} active{% endif %}">Change Log</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#customisation-menu" data-bs-toggle="collapse" aria-expanded="false" class="nav-link">
                  <i class="fa-fw fa-solid fa-toolbox me-2"></i>
                  Customisation
                  <span class="submenu-icon float-end"><i class="fa-fw fa-solid fa-caret-right"></i></span>
                </a>
                <ul id="customisation-menu" class="collapse list-unstyled">
                  <li class="nav-item"><a href="{% url 'bgp:relationship_list' %}" class="nav-link{% if url_path|contains:'/bgp/relationships/' %} active{% endif %}">Relationships</a></li>
                  <li class="nav-item"><a href="{% url 'extras:configcontext_list' %}" class="nav-link{% if url_path|contains:'/extras/config-contexts/' %} active{% endif %}">Config Contexts</a></li>
                  <li class="nav-item"><a href="{% url 'extras:exporttemplate_list' %}" class="nav-link{% if url_path|contains:'/extras/export-templates/' %} active{% endif %}">Export Templates</a></li>
                  <li class="nav-item"><a href="{% url 'extras:tag_list' %}" class="nav-link{% if url_path|contains:'/extras/tags/' %} active{% endif %}">Tags</a></li>
                </ul>
              </li>
              {% if request.user.is_staff %}
              <li class="nav-item">
                <a href="#admin-menu" data-bs-toggle="collapse" aria-expanded="false" class="nav-link">
                  <i class="fa-fw fa-solid fa-user-group me-2"></i>
                  Admin
                  <span class="submenu-icon float-end"><i class="fa-fw fa-solid fa-caret-right"></i></span>
                </a>
                <ul id="admin-menu" class="collapse list-unstyled">
                  <li class="nav-item"><a href="{% url 'core:system' %}" class="nav-link{% if url_path|contains:'/core/system/' %} active{% endif %}">System</a></li>
                  <li class="nav-item"><a href="{% url 'core:background_queue_list' %}" class="nav-link{% if url_path|contains:'/core/background-queues/,/core/background-workers/,/core/background-tasks/' %} active{% endif %}">Background Tasks</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div>
          {% endwith %}
        </div>
      </aside>
      <header class="navbar navbar-expand-md sticky-top d-lg-flex offset-md-3 offset-lg-2">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <div id="action_buttons" class="me-2">{% block actions %}{% endblock %}</div>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-divider-colour">{% block breadcrumb %}{% endblock %}</ol>
            </nav>
            <ul class="navbar-nav ms-auto">
              <button class="btn btn-outline-secondary me-3" type="button" id="colour-mode-button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Set colour mode"><i class="fa-fw fa-solid fa-sun"></i></button>
              {% if request.user.is_authenticated %}
              {% if request.session.last_search %}
              <a href="{{ request.session.last_search }}" class="btn btn-outline-secondary me-3" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Return to Last Search"><i class="fa-fw fa-solid fa-search"></i> Last Search</a>
              {% endif %}
              {% if affiliated_autonomous_systems %}
              <div class="dropdown me-3">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-fw fa-solid fa-server"></i>&nbsp;{% if context_as %}AS{{ context_as.asn }}{% else %}Select affiliated AS{% endif %}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  {% for a in affiliated_autonomous_systems %}
                  <li><a role="button" class="dropdown-item text-truncate{% if a.pk == context_as.pk %} active{% endif %} context-as" data-as-id="{{ a.pk }}">AS{{ a.asn }} - {{ a.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
              <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-fw fa-solid fa-user"></i> {{ request.user|truncatechars:"30" }}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="{% url 'users:profile' %}"><i class="fa-fw fa-solid fa-id-card"></i> Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'users:preferences' %}"><i class="fa-fw fa-solid fa-wrench"></i> Preferences</a></li>
                  <li><a class="dropdown-item" href="{% url 'users:token_list' %}"><i class="fa-fw fa-solid fa-key"></i> API Tokens</a></li>
                  {% if request.user.is_staff %}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fa-fw fa-solid fa-cogs"></i> Admin</a></li>
                  {% endif %}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa-fw fa-solid fa-sign-out-alt"></i> Log out</a></li>
                </ul>
              </div>
              {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'login' %}?next={{ request.path }}"><i class="fa-fw fa-solid fa-sign-in-alt"></i> Log in</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </header>
      <div class="page-wrapper">
        <main class="ms-sm-auto col-md-9 col-lg-10 px-2">
          <div class="justify-content-between align-items-center pt-3 flex-shrink-0">
            {% if request.user.is_authenticated and not context_as %}
            <div class="alert alert-warning text-center" role="alert">
              <i class="fa-fw fa-solid fa-exclamation-triangle"></i> No affiliated autonomous system selected.
            </div>
            {% endif %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
          </div>
          <footer class="d-flex flex-wrap justify-content-between align-items-center mt-auto">
            <ul class="nav col-md-6 justify-content-start fs-5">
              <li class="nav-item"><a href="https://docs.peering-manager.net" class="nav-link px-2 text-body-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Documentation"><i class="fa-fw fa-solid fa-book-open"></i></a></li>
              <li class="nav-item"><a href="{% url 'api-root' %}" class="nav-link px-2 text-body-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="REST API"><i class="fa-fw fa-solid fa-laptop-code"></i></a></li>
              <li class="nav-item"><a href="{% url 'api-docs' %}" class="nav-link px-2 text-body-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="REST API documentation"><i class="fa-fw fa-solid fa-file-code"></i></a></li>
              <li class="nav-item"><a href="https://github.com/peering-manager/peering-manager" class="nav-link px-2 text-body-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Source code"><i class="fa-fw fa-brands fa-github"></i></a></li>
              <li class="nav-item"><a href="https://netdev.chat" class="nav-link px-2 text-body-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Community"><i class="fa-fw fa-brands fa-slack"></i></a></li>
            </ul>
            <ul class="nav col-md-6 justify-content-end">
              <li class="nav-item text-body-secondary px-2">{% now 'Y-m-d H:i:s T' %}</li>
              <li class="nav-item text-body-secondary px-2">{{ settings.HOSTNAME }}</li>
              <li class="nav-item text-body-secondary px-2">Peering Manager {{ settings.VERSION }}</li>
            </ul>
          </footer>
        </main>
      </div>
    </div>
    <script type="text/javascript">
      var our_api_path = "/{{ settings.BASE_PATH }}api/";
      $('.context-as').click(function () {
        $.ajax({
          method: 'post',
          url: "{% url 'users:preferences' %}",
          data: { csrfmiddlewaretoken: '{{ csrf_token }}', as_id: $(this).attr("data-as-id") }
        }).done(function () { location.reload(); });
      });
    </script>
    {% block javascript %}{% endblock %}
  </body>
</html>
