{% extends '_base.html' %}
{% load helpers %}
{% load form_helpers %}
{% load render_table from django_tables2 %}

{% block title %}Search{% endblock %}

{% block content %}
{% include "includes/search_bar.html" %}
{% if request.GET.q %}
{% if results %}
<div class="row">
  <div class="col col-md-9">
    {% for obj_type in results %}
    <h5>{{ obj_type.name|title_with_uppers }}</h5>
    {% render_table obj_type.table 'includes/table.html' %}
    <div class="text-right">
      <a href="{{ obj_type.url }}" class="btn btn-sm btn-primary">
        <i class="fas fa-arrow-right"></i>
        {% if obj_type.table.page.has_next %}
        See All {{ obj_type.table.page.paginator.count }} Results
        {% else %}
        Refine Search
        {% endif %}
      </a>
    </div>
    {% if not forloop.last %}
    <hr/>
    {% endif %}
    {% endfor %}
  </div>
  <div class="col col-md-3">
    <div class="card">
      <h5 class="card-header">Search Results</h5>
      <div class="card-body">
        <div class="list-group list-group-flush">
          {% for obj_type in results %}
          <a href="#{{ obj_type.name|lower }}" class="list-group-item">
            <div class="float-right">
              <span class="badge badge-pill badge-primary">{{ obj_type.table.page.paginator.count }}</span>
            </div>
            {{ obj_type.name|title_with_uppers }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<h3 class="text-muted text-center">No results found</h3>
{% endif %}
{% else %}
<div class="row">
  <div class="col col-12 col-lg-8 offset-lg-2">
    <form action="{% url 'search' %}" method="get" class="form form-horizontal">
      <div class="card">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          {% render_form form %}
        </div>
        <div class="card-footer text-end">
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endif %}
{% endblock content %}
