{% extends '_base.html' %}
{% load helpers %}
{% block content %}
      <div class="float-right">
        {% if perms.peering.change_autonomoussystem %}
        <a href="{% url 'peering:autonomous_system_edit' asn=autonomous_system.asn %}" class="btn btn-warning">
          <i class="fas fa-edit"></i> Edit
        </a>
        {% endif %}
        {% if perms.peering.delete_autonomoussystem %}
        <a href="{% url 'peering:autonomous_system_delete' asn=autonomous_system.asn %}" class="btn btn-danger">
          <i class="fas fa-trash"></i> Delete
        </a>
        {% endif %}
      </div>
      <h1>{% block title %}{{ autonomous_system }}{% endblock %}</h1>
      <p><small class="text-muted">Last updated: {{ autonomous_system.updated }}</small></p>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link{% if request.path|notcontains:'/direct-peering-sessions/,/ix-peering-sessions/' %} active{% endif %}" href="{% url 'peering:autonomous_system_details' asn=autonomous_system.asn %}">
            <i class="fas fa-info-circle"></i> Details
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path|contains:'/direct-peering-sessions/' %} active{% endif %}" href="{% url 'peering:autonomous_system_direct_peering_sessions' asn=autonomous_system.asn %}">
            <i class="fas fa-ethernet"></i> Direct Peering Sessions
          </a>
        </li>
        {% if autonomous_system.get_peering_sessions|length > 0 %}
        <li class="nav-item">
          <a class="nav-link{% if request.path|contains:'/ix-peering-sessions/' %} active{% endif %}" href="{% url 'peering:autonomous_system_internet_exchange_peering_sessions' asn=autonomous_system.asn %}">
            <i class="fas fa-network-wired"></i> IX Peering Sessions
          </a>
        </li>
        {% endif %}
      </ul>
      {% block subcontent %}{% endblock %}
{% endblock %}
