{% extends '_base.html' %}
{% load form_helpers %}
{% block content %}
      <form method="post" class="form-horizontal">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
        {{ field }}
        {% endfor %}
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h3>{% block title %}Add a new AS{% endblock %}</h3>
            {% if form.non_field_errors %}
            <div class="panel panel-danger">
              <div class="panel-heading"><strong>Errors</strong></div>
              <div class="panel-body">
                {{ form.non_field_errors }}
              </div>
            </div>
            {% endif %}
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Autonomous System</strong></div>
              <div class="panel-body">
                {% render_field form.asn %}
                {% render_field form.name %}
                {% render_field form.ipv6_as_set %}
                {% render_field form.ipv4_as_set %}
                {% render_field form.ipv6_max_prefixes %}
                {% render_field form.ipv4_max_prefixes %}
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Comments</strong></div>
              <div class="panel-body">
                {% render_field form.comment %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-right">
            <button type="submit" class="btn btn-primary">Create</button>
            <a class="btn btn-default" href="{% url 'peering:as_list' %}">Cancel</a>
          </div>
        </div>
      </form>
{% endblock %}
