{% extends 'utils/object_add_edit.html' %}
{% load form_helpers %}
{% block form %}
            <div class="card my-2">
              <div class="card-header">
                <strong>Autonomous System</strong>
                <span class="float-right d-none" id="querying_indicator_id"><i class="fas fa-spin fa-sync"></i></span>
              </div>
              <div class="card-body">
                {% render_field form.asn %}
                {% render_field form.name %}
                {% render_field form.affiliated %}
                {% render_field form.irr_as_set %}
                {% render_field form.ipv6_max_prefixes %}
                {% render_field form.ipv4_max_prefixes %}
              </div>
            </div>
            <div class="card my-2">
              <div class="card-header"><strong>Contact Info</strong></div>
              <div class="card-body">
                {% render_field form.contact_name %}
                {% render_field form.contact_phone %}
                {% render_field form.contact_email %}
              </div>
            </div>
            <div class="card my-2">
              <div class="card-header"><strong>Routing Policies</strong></div>
              <div class="card-body">
                {% render_field form.import_routing_policies %}
                {% render_field form.export_routing_policies %}
              </div>
            </div>
            <div class="card my-2">
              <div class="card-header"><strong>Synchronize with PeeringDB</strong></div>
              <div class="card-body">
                {% render_field form.name_peeringdb_sync %}
                {% render_field form.irr_as_set_peeringdb_sync %}
                {% render_field form.ipv6_max_prefixes_peeringdb_sync %}
                {% render_field form.ipv4_max_prefixes_peeringdb_sync %}
              </div>
              <div class="card-footer">
                <small>Values synchronized with PeeringDB will always be overwritten with the ones found in the AS record.</small>
              </div>
            </div>
            <div class="card my-2">
              <div class="card-header"><strong>Tags</strong></div>
              <div class="card-body">
                {% render_field form.tags %}
              </div>
            </div>
            <div class="card my-2">
              <div class="card-header"><strong>Comments</strong></div>
              <div class="card-body">
                {% render_field form.comments %}
              </div>
            </div>
{% endblock %}
{% block javascript %}
    <script>
      // Wait for user to focus out of the ASN field
      $("#id_asn").focusout(function() {
        var asn = $(this).val();
        $.ajax({
          type: "get",
          dataType: "json",
          url: "{{ settings.PEERINGDB_API }}net?asn=" + asn,
          beforeSend: function(xhr) {
            $("#querying_indicator_id").removeClass("d-none");
          },
        }).done(function(response) {
          var jsonData = response["data"][0];
          $("#id_name").val(jsonData["name"]);
          $("#id_irr_as_set").val(jsonData["irr_as_set"]);
          $("#id_ipv6_max_prefixes").val(jsonData["info_prefixes6"]);
          $("#id_ipv4_max_prefixes").val(jsonData["info_prefixes4"]);
        }).always(function() {
          $("#querying_indicator_id").addClass("d-none");
        });
      });
    </script>
{% endblock %}
