{% extends 'utils/object_add_edit.html' %}
{% load form_helpers %}
{% block form %}
            <div class="card my-2">
              <div class="card-header"><strong>Autonomous System</strong></div>
              <div class="card-body">
                {% render_field form.asn %}
                {% render_field form.name %}
                {% render_field form.irr_as_set %}
                {% render_field form.ipv6_max_prefixes %}
                {% render_field form.ipv4_max_prefixes %}
              </div>
            </div>
            <div class="card my-2">
              <div class="card-header"><strong>Comments</strong></div>
              <div class="card-body">
                {% render_field form.comment %}
              </div>
            </div>
{% endblock %}
