{% extends 'peering/as/_base.html' %}
{% load helpers %}
{% block subcontent %}
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-2">
            <div class="card-header">
              <strong>AS Details</strong>
              <div class="float-right">
              <a class="btn btn-xs btn-primary" href="{{ settings.PEERINGDB }}{{ autonomous_system.asn }}" target="_blank">
                <i class="fas fa-external-link-alt"></i> PeeringDB
              </a>
              {% if perms.peering.change_autonomoussystem %}
              <button class="btn btn-xs btn-success" id="synchronize-with-peeringdb">
                <i class="fas fa-sync"></i> Synchronize
              </button>
              {% endif %}
              </div>
            </div>
            <table class="table table-hover card-body attr-table">
              <tr>
                <td>ASN</td>
                <td>{{ autonomous_system.asn }}</td>
              </tr>
              <tr>
                <td>Name</td>
                <td>{{ autonomous_system.name }}</td>
              </tr>
              <tr{% if autonomous_system.irr_as_set_peeringdb_sync %} data-toggle="tooltip" data-placement="right" title="Synchronized with PeeringDB"{% endif %}>
                <td>IRR AS-SET</td>
                <td id="id_irr_as_set">{{ autonomous_system.irr_as_set }}</td>
              </tr>
              <tr{% if autonomous_system.ipv6_max_prefixes_peeringdb_sync %} data-toggle="tooltip" data-placement="right" title="Synchronized with PeeringDB"{% endif %}>
                <td>IPv6 Max Prefixes</td>
                <td id="id_ipv6_max_prefixes">{{ autonomous_system.ipv6_max_prefixes }}</td>
              </tr>
              <tr{% if autonomous_system.ipv4_max_prefixes_peeringdb_sync %} data-toggle="tooltip" data-placement="right" title="Synchronized with PeeringDB"{% endif %}>
                <td>IPv4 Max Prefixes</td>
                <td id="id_ipv4_max_prefixes">{{ autonomous_system.ipv4_max_prefixes }}</td>
              </tr>
            </table>
          </div>
          <div class="card mb-2">
            <div class="card-header"><strong>Contact Info</strong></div>
            <table class="table table-hover card-body attr-table">
              <tr>
                <td>Contact Name</td>
                <td>{{ autonomous_system.contact_name }}</td>
              </tr>
              <tr>
                <td>Contact Phone</td>
                <td>
                  {% if autonomous_system.contact_phone %}
                  <a href="tel:{{ autonomous_system.contact_phone }}">{{ autonomous_system.contact_phone }}</a>
                  {% else %}
                  <span class="text-muted">&mdash;</span>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>Contact E-Mail</td>
                <td>
                  {% if autonomous_system.contact_email %}
                  <a href="mailto:{{ autonomous_system.contact_email }}">{{ autonomous_system.contact_email }}</a>
                  {% else %}
                  <span class="text-muted">&mdash;</span>
                  {% endif %}
                </td>
              </tr>
            </table>
          </div>
          {% if common_ix_and_sessions %}
          <div class="card">
            <div class="card-header"><strong>Common Internet Exchanges</strong></div>
            <ul class="list-group list-group-flush">
              {% for internet_exchange_details in common_ix_and_sessions %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ internet_exchange_details.internet_exchange.get_absolute_url }}">{{ internet_exchange_details.internet_exchange }}</a>
                {% if internet_exchange_details.has_potential_ix_peering_sessions %}
                <a href="{% url 'peering:internet_exchange_peers' slug=internet_exchange_details.internet_exchange.slug %}?q=&network__asn={{ autonomous_system.asn }}" class="text-warning" data-toggle="tooltip" data-placement="left" title="Potential Peering Sessions"><i class="fas fa-exclamation-circle"></i></a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <strong>Comments</strong>
            </div>
            <div class="card-body">
              {% if autonomous_system.comment %}
              {{ autonomous_system.comment|markdown }}
              {% else %}
              <span class="text-muted">None</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block javascript %}
    <script>
      // Init tooltip if there are any
      $(function() {
        $('[data-toggle="tooltip"]').tooltip();
      });

      // Bind function to button click
      $('#synchronize-with-peeringdb').click(function() {
        $.ajax({
          method: "post",
          data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
          url: "{% url 'peering-api:autonomoussystem-synchronize-with-peeringdb' pk=autonomous_system.pk %}",
          beforeSend: function() {
            $('#synchronize-with-peeringdb').attr('disabled', 'disabled').removeClass('btn-primary').addClass('btn-warning').html('<i class="fas fa-sync fa-spin fa-fw"></i> Working');
          },
          complete: function() {
            $('#synchronize-with-peeringdb').removeClass('btn-warning').addClass('btn-primary').removeAttr('disabled').html('<i class="fas fa-sync"></i> Sync with PeeringDB');
          }
        }).done(function() {
          $.ajax({
            method: "get",
            url: "{% url 'peering-api:autonomoussystem-detail' pk=autonomous_system.pk %}",
          }).done(function(response) {
            var changedFields = [];
            if (response['irr_as_set_peeringdb_sync']) {
              $('#id_irr_as_set').text(response['irr_as_set']);
              changedFields.push($('#id_irr_as_set'));
            }
            if (response['ipv6_max_prefixes_peeringdb_sync']) {
              $('#id_ipv6_max_prefixes').text(response['ipv6_max_prefixes']);
              changedFields.push($('#id_ipv6_max_prefixes'));
            }
            if (response['ipv4_max_prefixes_peeringdb_sync']) {
              $('#id_ipv4_max_prefixes').text(response['ipv4_max_prefixes']);
              changedFields.push($('#id_ipv4_max_prefixes'));
            }

            changedFields.forEach(function(value) {
              value.parent().toggleClass('alert-success');
            });
            setTimeout(function() {
              changedFields.forEach(function(value) {
                value.parent().toggleClass('alert-success');
              });
            }, 2000);
          });
        });
      });
    </script>
{% endblock %}
