{% extends 'peering/as/_base.html' %}
{% load helpers %}
{% block subcontent %}
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-2">
            <div class="card-header">
              <strong>AS Details</strong>
              <a class="btn btn-sm btn-primary float-right" href="{{ settings.PEERINGDB }}{{ autonomous_system.asn }}" target="_blank">
                <i class="fas fa-external-link-alt"></i> PeeringDB
              </a>
            </div>
            <table class="table table-hover card-body attr-table">
              <tr>
                <td>ASN</td>
                <td>{{ autonomous_system.asn }}</td>
              </tr>
              <tr>
                <td>Name</td>
                <td>{{ autonomous_system.name }}</td>
              </tr>
              <tr{% if autonomous_system.irr_as_set_peeringdb_sync %} data-toggle="tooltip" data-placement="right" title="Synchronized with PeeringDB"{% endif %}>
                <td>IRR AS-SET</td>
                <td>{{ autonomous_system.irr_as_set }}</td>
              </tr>
              <tr{% if autonomous_system.ipv6_max_prefixes_peeringdb_sync %} data-toggle="tooltip" data-placement="right" title="Synchronized with PeeringDB"{% endif %}>
                <td>IPv6 Max Prefixes</td>
                <td>{{ autonomous_system.ipv6_max_prefixes }}</td>
              </tr>
              <tr{% if autonomous_system.ipv4_max_prefixes_peeringdb_sync %} data-toggle="tooltip" data-placement="right" title="Synchronized with PeeringDB"{% endif %}>
                <td>IPv4 Max Prefixes</td>
                <td>{{ autonomous_system.ipv4_max_prefixes }}</td>
              </tr>
            </table>
          </div>
          {% if common_ix_and_sessions %}
          <div class="card">
            <div class="card-header"><strong>Common Internet Exchanges</strong></div>
            <ul class="list-group list-group-flush">
              {% for internet_exchange_details in common_ix_and_sessions %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ internet_exchange.get_absolute_url }}">{{ internet_exchange_details.internet_exchange }}</a>
                {% if not internet_exchange_details.sessions.0|length_is:"0" or not internet_exchange_details.sessions.1|length_is:"0" %}
                <a href="{% url 'peering:ix_peers' slug=internet_exchange_details.internet_exchange.slug %}?q=&network__asn={{ autonomous_system.asn }}" class="badge badge-info">Missing Sessions Found</a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <strong>Comments</strong>
            </div>
            <div class="card-body">
              {% if autonomous_system.comment %}
              {{ autonomous_system.comment|markdown }}
              {% else %}
              <span class="text-muted">None</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block javascript %}
    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
{% endblock %}
