{% extends '_base.html' %}
{% load form_helpers %}
{% block content %}
<form method="post">
  {% csrf_token %}
  {% for field in form.hidden_fields %}
  {{ field }}
  {% endfor %}
  <div class="row justify-content-center">
    <div class="col-8">
      <h3>Import Autonomous System From PeeringDB</h3>
      {% if form.non_field_errors %}
      <div class="card bg-danger">
        <div class="card-header"><strong>Errors</strong></div>
        <div class="card-body">
          {{ form.non_field_errors }}
        </div>
      </div>
      {% endif %}
      <div class="card my-2">
        <div class="card-header"><strong>Autonomous System</strong></div>
        <div class="card-body">
          {% render_field form.asn %}
        </div>
      <div class="card-footer">
        This will be used to import data from <a href="https://peeringdb.com/" title="PeeringDB" target="_blank">PeeringDB</a>.
        All AS details will be filled with data provided via the API.
      </div>
    </div>
    <div class="card my-2">
      <div class="card-header"><strong>Comments</strong></div>
        <div class="card-body">
          {% render_field form.comment %}
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8 text-right">
      <button type="submit" class="btn btn-primary">Import</button>
      <a class="btn btn-secondary" href="{{ return_url }}">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}
