{% load helpers %}
{% if request.user.is_authenticated %}
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="return_url" value="{% if return_url %}{{ return_url }}{% else %}{{ request.path }}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}{% endif %}" />
    {% for key, value in extra_context.items %}
    <input type="hidden" name="{{ key }}" value="{{ value }}" />
    {% endfor %}
    {% if table.paginator.num_pages > 1 and bulk_delete_url %}
    <div id="select_all_box" class="card form-row mb-2 d-none">
      <div class="card-body">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="select_all" name="_all" />
          <label class="form-check-label" for="select_all">Select <strong>all {{ table.rows|length }} {{ table.data.verbose_name_plural }}</strong> matching query</label>
        </div>
        <div class="float-right">
          <button type="submit" name="_delete" formaction="{% url bulk_delete_url %}{% if bulk_querystring %}?{{ bulk_querystring }}{% elif request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-danger btn-sm" disabled="disabled">
            <i class="fa fa-trash"></i> Delete All
          </button>
        </div>
      </div>
    </div>
    {% endif %}
    {% include 'utils/table.html' %}
    {% block extra_buttons %}{% endblock %}
    {% if bulk_add_url %}
    <button type="submit" name="_add" formaction="{% url bulk_add_url %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-sm btn-primary">
      <i class="fa fa-plus"></i> Add Selected
    </button>
    {% endif %}
    {% if bulk_delete_url %}
    <button type="submit" name="_delete" formaction="{% url bulk_delete_url %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-sm btn-danger">
      <i class="fa fa-trash"></i> Delete Selected
    </button>
    {% endif %}
    <div class="clearfix"></div>
  </form>
{% else %}
  {% include 'utils/table.html' %}
{% endif %}
