{% extends '_base.html' %}
{% load helpers %}

{% block title %}Delete {{ table.rows|length }} {{ object_type_plural|title }}?{% endblock %}

{% block content %}
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header"><strong>Confirm Bulk Deletion</strong></div>
        <div class="card-body">
          <p class="card-text"><strong>Warning:</strong> The following operation will delete {{ table.rows|length }} {{ object_type_plural }}. Please carefully review the {{ object_type_plural }} to be deleted and confirm below.</p>
          {% block message_extra %}{% endblock %}
        </div>
        {% include 'utils/table.html' %}
        <div class="card-body">
          <form method="post" class="form">
            {% csrf_token %}
            {% for field in form.hidden_fields %}
            {{ field }}
            {% endfor %}
            <input type="hidden" name="return_url" value="{{ return_url }}" />
            <div class="text-right">
              <button type="submit" name="_confirm" class="btn btn-danger">Delete these {{ table.rows|length }} {{ object_type_plural }}</button>
              <a href="{{ return_url }}" class="btn btn-secondary">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
