{% extends '_base.html' %}
{% load helpers %}
{% load form_helpers %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">
  {% block title %}
  {% if object.pk %}Editing {{ object }}{% else %}Add a new {{ object_type|title_with_uppers }}{% endif %}
  {% if settings.DOCS_DIR %}
  &nbsp;
  <button class="btn btn-link btn-xs text-white" type="button" data-toggle="modal" data-target="#docs_modal" title="Help">
    <i class="fas fa-question-circle"></i>
  </button>
  {% endif %}
  {% endblock %}
</li>
{% endblock %}
{% block content %}
<form method="post">
  {% csrf_token %}
  {% for field in form.hidden_fields %}
  {{ field }}
  {% endfor %}
  <div class="row justify-content-center">
    <div class="col-8">
      {% if form.non_field_errors %}
      <div class="card bg-danger text-white my-2">
        <div class="card-header"><strong>Errors</strong></div>
        <div class="card-body">
          {{ form.non_field_errors }}
        </div>
      </div>
      {% endif %}
      {% block form %}
      <div class="card my-2">
        <div class="card-header"><strong>{{ object_type|title_with_uppers }}</strong></div>
        <div class="card-body">
          {% render_form form %}
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8 text-right">
      {% if object.pk %}
      <button type="submit" class="btn btn-primary">Save</button>
      {% else %}
      <button type="submit" name="_create" class="btn btn-primary">Create</button>
      <button type="submit" name="_addanother" class="btn btn-primary">Create & Add Another</button>
      {% endif %}
      <a class="btn btn-secondary" href="{{ return_url }}">Cancel</a>
    </div>
  </div>
</form>
{% if object and settings.DOCS_DIR %}
{% include 'utils/includes/modal.html' with name='docs' content=object|get_docs %}
{% endif %}
{% endblock %}
