{% extends '_base.html' %}
{% load form_helpers %}
{% load helpers %}
{% block content %}
      <form method="post">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
        {{ field }}
        {% endfor %}
        <div class="form-row">
          <div class="col mr-4">
            <div class="form-row justify-content-beginning">
              <h3>{% block title %}{{ obj_type|title }} Import{% endblock %}</h3>
              {% if form.non_field_errors %}
              <div class="card bg-danger text-white">
                <div class="card-header"><strong>Errors</strong></div>
                <div class="card-body">
                  {{ form.non_field_errors }}
                </div>
              </div>
              {% endif %}
              {% render_field form.csv %}
            </div>
            <div class="form-row justify-content-end">
              <div class="text-right">
                <button type="submit" class="btn btn-primary">Import</button>
                <a class="btn btn-secondary" href="{% url return_url %}">Cancel</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            {% if fields %}
            <h3 class="text-center">CSV Format</h3>
            <table class="table">
              <tr>
                <th scope="col">Field</th>
                <th scope="col">Required</th>
                <th scope="col">Description</th>
              </tr>
              {% for name, field in fields.items %}
              <tr>
                <td><code>{{ name }}</code></td>
                <td>{% if field.required %}<i class="fa fa-check-square"></i>{% endif %}</td>
                <td>
                  {{ field.help_text|default:field.label }}
                  {% if field.choices %}
                  <br /><small class="text-muted">Choices: {{ field|example_choices }}</small>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </table>
            {% endif %}
          </div>
        </div>
      </form>
{% endblock %}
