{% load form_helpers %}

<div class="form-group form-row{% if field.errors %} invalid{% endif %}">
  {% if field|widget_type == 'textarea' %}
  {{ field }}
  {% if bulk_nullable %}
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="set_null_checkbox" name="_nullify" value="{{ field.name }}">
    <label class="form-check-label" for="set_null_checkbox">Set null</label>
  </div>
  {% endif %}
  {% if field.help_text %}
  <small class="form-text text-muted">{{ field.help_text|safe }}</small>
  {% endif %}
  {% if field.errors %}
  <ul>
    {% for error in field.errors %}
    <li class="text-danger">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% else %}
  <label class="col-3 {% if field.field.required %} required{% endif %}" for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
  <div class="col-9">
    {% if field|widget_type == 'passwordinput' %}
    <div class="input-group">
      {{ field }}
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" id="{{ field.id_for_label }}_reveal"><i class="fas fa-eye"></i> Show</button>
      </div>
    </div>
    {% else %}
    {{ field }}
    {% if bulk_nullable %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="set_null_checkbox" name="_nullify" value="{{ field.name }}">
      <label class="form-check-label" for="set_null_checkbox">Set null</label>
    </div>
    {% endif %}
    {% endif %}
    {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text|safe }}</small>
    {% endif %}
    {% if field.errors %}
    <ul>
      {% for error in field.errors %}
      <li class="text-danger">{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endif %}
</div>
