{% load form_helpers %}

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fas fa-search" aria-hidden="true"></i>
    <strong>Search</strong>
  </div>
  <div class="panel-body">
    <form action="." method="get" class="form">
      {% for field in filter_form %}
      <div class="form-group">
        {% if field.name == "q" %}
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search" {% if request.GET.q %}value="{{ request.GET.q }}" {% endif %}/>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-search" aria-hidden="true"></i>
            </button>
          </span>
        </div>
        {% elif field|widget_type == 'checkboxinput' %}
        <label for="{{ field.id_for_label }}">{{ field }} {{ field.label }}</label>
        {% else %}
        {{ field.label_tag }}
        {{ field }}
        {% endif %}
      </div>
      {% endfor %}
      <div class="text-right">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search" aria-hidden="true"></i> Apply
        </button>
        <a href="." class="btn btn-default">
          <i class="fas fa-times" aria-hidden="true"></i> Clear
        </a>
      </div>
    </form>
  </div>
</div>
