{% extends '_base.html' %}
{% load form_helpers %}
{% block content %}
      <form method="post" class="form-horizontal">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
        {{ field }}
        {% endfor %}
        {{ formset.management_form }}
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h3>{% block title %}{{ obj_type|title }} Import{% endblock %}</h3>
            <div class="alert alert-info" role="alert">
              Please review the following data and adjust then to your convenience before importing them.
            </div>
            {% for form in formset %}
            {% if form.non_field_errors %}
            <div class="panel panel-danger">
              <div class="panel-heading"><strong>Errors</strong></div>
              <div class="panel-body">
                {{ form.non_field_errors }}
              </div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="panel panel-default">
              {{ formset.non_form_errors.as_ul }}
              <table class="table">
                {% for form in formset %}
                {% if forloop.first %}
                <thead><tr>
                  {% for field in form.visible_fields %}
                  <th>{{ field.label_tag }}</th>
                  {% endfor %}
                </tr></thead>
                <tbody>
                {% endif %}
                  <tr>
                    {% for field in form.visible_fields %}
                    <td>
                      {% if forloop.first %}
                      {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                      {% endfor %}
                      {% endif %}
                      {{ field.errors.as_ul }}
                      {{ field }}
                    </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-right">
            <button type="submit" class="btn btn-primary">Import</button>
            <a class="btn btn-default" href="{{ return_url }}">Cancel</a>
          </div>
        </div>
      </form>
{% endblock %}
