{% extends 'peering/bgpgroup/_base.html' %}
{% load helpers %}
{% block subcontent %}
<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <strong>BGP Group Details</strong>
      </div>
      <table class="card-body table table-hover attr-table mb-0">
        <tr>
          <td>Name</td>
          <td>{{ instance.name }}</td>
        </tr>
        <tr>
          <td>Slug</td>
          <td>{{ instance.slug }}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ instance.description|render_none }}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{ instance | status_as_badge }}</td>
        </tr>
      </table>
    </div>
    {% include 'includes/tags_card.html' with tags=instance.tags.all url='peering:bgpgroup_list' %}
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header"><strong>Import Routing Policies</strong></div>
      {% if instance.import_routing_policies.all.count > 0 %}
      <ul class="list-group list-group-flush">
      {% for routing_policy in instance.import_routing_policies.all %}
        <li class="list-group-item">
          {{ routing_policy|as_link }}
        </li>
      {% endfor %}
      </ul>
      {% else %}
      <div class="card-body">
        <span class="text-muted">None</span>
      </div>
      {% endif %}
    </div>
    <div class="card mb-3">
      <div class="card-header"><strong>Export Routing Policies</strong></div>
      {% if instance.export_routing_policies.all.count > 0 %}
      <ul class="list-group list-group-flush">
      {% for routing_policy in instance.export_routing_policies.all %}
        <li class="list-group-item">
          {{ routing_policy|as_link }}</span>
        </li>
      {% endfor %}
      </ul>
      {% else %}
      <div class="card-body">
        <span class="text-muted">None</span>
      </div>
      {% endif %}
    </div>
    {% include 'includes/communities_card.html' %}
  </div>
</div>
{% endblock %}
