{% extends 'peering/bgpgroup/_base.html' %}
{% load helpers %}
{% block subcontent %}
<div class="row">
  <div class="col-md-6">
    <div class="card mb-2">
      <div class="card-header">
        <strong>BGP Group Details</strong>
      </div>
      <table class="card-body table table-hover attr-table mb-0">
        <tr>
          <td>Name</td>
          <td>{{ instance.name }}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{ instance | status_as_badge }}</td>
        </tr>
      </table>
    </div>
    <div class="card">
      <div class="card-header">
        <strong>Comments</strong>
      </div>
      <div class="card-body">
        {% if instance.comments %}
        {{ instance.comments|markdown }}
        {% else %}
        <span class="text-muted">None</span>
        {% endif %}
      </div>
    </div>
    {% include 'includes/tags_card.html' with tags=instance.tags.all url='peering:bgpgroup_list' %}
  </div>
  <div class="col-md-6">
    <div class="card mb-2">
      <div class="card-header">
        <strong>BGP Communities</strong>
      </div>
      {% if instance.communities.all.count > 0 %}
      <ul class="list-group list-group-flush">
      {% for community in instance.communities.all %}
        <li class="list-group-item">
          {{ community|as_link }}{% if community.type %} <span class="float-right">{{ community.get_type_html }}{% endif %}</span>
        </li>
      {% endfor %}
      </ul>
      {% else %}
      <div class="card-body">
        <span class="text-muted">None</span>
      </div>
      {% endif %}
    </div>
    <div class="card">
      <div class="card-header">
        <strong>Routing Policies</strong>
      </div>
      {% if instance.export_routing_policies.all.count > 0 or instance.import_routing_policies.all.count > 0 %}
      <ul class="list-group list-group-flush">
      {% for routing_policy in instance.export_routing_policies.all %}
        <li class="list-group-item">
          {{ routing_policy|as_link }} <span class="float-right">{{ routing_policy.get_type_html }}</span>
        </li>
      {% endfor %}
      {% for routing_policy in instance.import_routing_policies.all %}
        <li class="list-group-item">
          {{ routing_policy|as_link }} <span class="float-right">{{ routing_policy.get_type_html }}</span>
        </li>
      {% endfor %}
      </ul>
      {% else %}
      <div class="card-body">
        <span class="text-muted">None</span>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
