{% load form_helpers %}
<div class="modal fade" tabindex="-1" id="{{ table_name }}_config">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Table Configuration</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          {% csrf_token %}
          {% render_form form %}
          <div class="row mb-2">
            <div class="col-md-9 ms-auto">
              <a class="btn btn-secondary btn-sm" id="move-option-up" data-bs-target="id_columns">
                <i class="fas fa-arrow-up"></i> Move up
              </a>
              <a class="btn btn-secondary btn-sm" id="move-option-down" data-bs-target="id_columns">
                <i class="fas fa-arrow-down"></i> Move down
              </a>
              <a class="btn btn-outline-secondary btn-sm" id="select-all-options" data-bs-target="id_columns">
                <i class="fas fa-ellipsis-v"></i> Select all
              </a>
            </div>
          </div>
          <div class="text-end">
            <input type="submit" class="btn btn-outline-danger" name="reset" value="Reset" />
            <input type="submit" class="btn btn-primary" name="save" value="Save" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
