{% extends '_base.html' %}
{% load helpers %}
{% block actions %}
{% if perms.extras.change_journalentry %}
<a href="{% url 'extras:journalentry_edit' pk=instance.pk %}" class="btn btn-warning">
  <i class="fa-fw fa-solid fa-edit"></i> Edit
</a>
{% endif %}
{% if perms.extras.delete_journalentry %}
<a href="{% url 'extras:journalentry_delete' pk=instance.pk %}" class="btn btn-danger">
  <i class="fa-fw fa-solid fa-trash"></i> Delete
</a>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'extras:journalentry_list' %}">Journal Entries</a></li>
<li class="breadcrumb-item active" aria-current="page">{% block title %}{{ instance }}{% endblock %}</li>
{% endblock %}
{% block content %}
<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link{% if tab == 'main' %} active{% endif %}" href="{% url 'extras:journalentry_view' pk=instance.pk %}">
      <i class="fa-fw fa-solid fa-info-circle"></i> Details
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if tab == 'changelog' %} active{% endif %}" href="{% url 'extras:journalentry_changelog' pk=instance.pk %}">
      <i class="fa-fw fa-solid fa-history"></i> Changelog
    </a>
  </li>
</ul>
{% block subcontent %}{% endblock %}
{% endblock %}
