{% extends 'generic/object_edit.html' %}
{% load form_helpers %}
{% load helpers %}
{% block form %}
<div class="card my-2">
  <div class="card-header"><strong>Contact Assignment</strong></div>
  <div class="card-body">
    <div class="form-group form-row">
      <label class="col-3" for="object"><strong>{{ form.instance.object|meta:'verbose_name'|title_with_uppers }}</strong></label>
      <div class="col-9">
        <input class="form-control" value="{{ form.instance.object }}" disabled />
      </div>
    </div>
    {% render_field form.contact %}
    {% render_field form.role %}
  </div>
</div>
{% endblock %}
