{% extends '_base.html' %}
{% block breadcrumb %}<li class="breadcrumb-item active" aria-current="page">{% block title %}{% endblock %}</li>{% endblock %}
{% block content %}
<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link{% if tab == 'profile' %} active{% endif %}" href="{% url 'users:profile' %}">
      <i class="fa-fw fa-solid fa-user"></i> Profile
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if tab == 'preferences' %} active{% endif %}" href="{% url 'users:preferences' %}">
      <i class="fa-fw fa-solid fa-sliders"></i> Preferences
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if tab == 'password' %} active{% endif %}" href="{% url 'users:change_password' %}">
      <i class="fa-fw fa-solid fa-lock"></i> Password
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if tab == 'api_tokens' %} active{% endif %}" href="{% url 'users:token_list' %}">
      <i class="fa-fw fa-solid fa-key"></i> API Tokens
    </a>
  </li>
</ul>
<div class="row">
  <div class="col-6 offset-md-3">
    {% block user_content %}{% endblock %}
  </div>
</div>
{% endblock %}
