{% extends '_base.html' %}
{% load form_helpers %}

{% block content %}
      <div class="form-row justify-content-center" style="margin-top: 150px;">
        <div class="col-4">
          {% if form.non_field_errors %}
          <div class="card bg-danger text-white mb-2">
            <div class="card-header"><strong>Errors</strong></div>
            <div class="card-body">
              {{ form.non_field_errors }}
            </div>
          </div>
          {% endif %}
          <form action="{% url 'login' %}" method="post">
            <div class="card">
              <div class="card-header">
                <strong>Log In</strong>
              </div>
              <div class="card-body">
                {% csrf_token %}
                {% if 'next' in request.GET %}
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
                {% endif %}
                {% render_field form.username %}
                {% render_field form.password %}
              </div>
              <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Log In</button>
              </div>
            </div>
          </form>
        </div>
      </div>
{% endblock %}
