{% load static %}
{% load form_helpers %}
<!doctype html>
<html lang="en">
  <head>
    <script src="{% static 'js/colour-mode.js' %}?{{ settings.VERSION }}"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Log In - Peering Manager</title>

    <script defer src="{% static 'fontawesome-7.0.1/js/all.js' %}"></script>

    <link rel="stylesheet" href="{% static 'bootstrap-5.3.8-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}?{{ settings.VERSION }}">
    <link rel="icon" type="image/svg" href="{% static 'img/peering-manager.svg' %}">
  </head>
  <body>
    <section class="vh-100 w-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img class="img-fluid" src="{% static 'img/peering-manager.svg' %}" alt="Peering Manager Logo">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            {% if settings.BANNER_LOGIN %}
            <div class="mb-3 text-center">
              {{ settings.BANNER_LOGIN|safe }}
            </div>
            {% endif %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% if form.non_field_errors %}
            <div class="card bg-danger text-white mb-3">
              <div class="card-header"><strong>Errors</strong></div>
              <div class="card-body">{{ form.non_field_errors }}</div>
            </div>
            {% endif %}
            {% if auth_backends %}
            <div class="row">
              {% for backend in auth_backends %}
              <div class="col">
                <a href="{{ backend.url }}" class="btn btn-lg btn-outline-secondary w-100">
                  {% if backend.icon_name %}
                  {% if backend.icon_is_url %}
                  <img src="{{ backend.icon_name }}" height="24" class="me-2" />
                  {% else %}
                  <i class="{{ backend.icon_name }}"></i>
                  {% endif %}
                  {% endif %}
                  {{ backend.display_name }}
                </a>
              </div>
              {% endfor %}
            </div>
            {% if not login_form_hidden %}
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Or</p>
            </div>
            {% endif %}
            {% endif %}
            {% if not login_form_hidden %}
            <form class="form-login" action="{% url 'login' %}" method="post">
              {% csrf_token %}
              {% if 'next' in request.GET %}
              <input type="hidden" name="next" value="{{ request.GET.next }}" />
              {% endif %}
              {% render_field form.username %}
              {% render_field form.password %}
              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg w-100">Login</button>
              </div>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-body-tertiary">
        <div class="text-body-secondary mb-3 mb-md-0">
          {{ settings.HOSTNAME }} (v{{ settings.VERSION }})
        </div>
        <div>
          <a href="https://peering-manager.net" class="text-body-secondary me-4" data-bs-toggle="tooltip" data-bs-title="Website"><i class="fa-fw fa-solid fa-globe"></i></a>
          <a href="https://docs.peering-manager.net" class="text-body-secondary me-4" data-bs-toggle="tooltip" data-bs-title="Documentation"><i class="fa-fw fa-solid fa-book"></i></a>
          <a href="https://github.com/peering-manager/peering-manager" class="text-body-secondary me-4" data-bs-toggle="tooltip" data-bs-title="GitHub"><i class="fa-fw fa-brands fa-github"></i></a>
        </div>
      </div>
    </section>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'select2-4.0.13/js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}?{{ settings.VERSION }}"></script>
    <script src="{% static 'js/forms.js' %}?{{ settings.VERSION }}"></script>
  </body>
</html>
