{% extends 'users/_user.html' %}
{% load helpers %}
{% block title %}User Profile{% endblock %}
{% block user_content %}
<div class="card">
  <div class="card-header"><strong>Account Details</strong></div>
  <table class="card-body table table-hover attr-table mb-0">
    <tr>
      <td>Username</td>
      <td>{{ request.user.username }}</td>
    </tr>
    <tr>
      <td>Full Name</td>
      <td>{{ request.user.first_name }} {{ request.user.last_name }}</td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td>{{ request.user.email }}</td>
    </tr>
    <tr>
      <td>Account Created</td>
      <td>{{ request.user.date_joined|date_span }}</td>
    </tr>
    <tr>
      <td>Last Login</td>
      <td>{{ request.user.last_login|date_span }}</td>
    </tr>
    <tr>
      <td>Superuser</td>
      <td>{{ request.user.is_superuser|boolean_as_icon }}</td>
    </tr>
    <tr>
      <td>Staff</td>
      <td>{{ request.user.is_staff|boolean_as_icon }}</td>
    </tr>
  </table>
</div>
{% endblock %}
