{% extends 'extras/configcontext/_base.html' %}
{% load render_table from django_tables2 %}
{% load helpers %}
{% block subcontent %}
<div class="row">
  <div class="col-md-6">
    <div class="card mb-2">
      <div class="card-header"><strong>Details</strong></div>
      <table class="card-body table table-hover attr-table mb-0">
        <tr>
          <td>Name</td>
          <td>{{ instance.name }}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ instance.description|render_none }}</td>
        </tr>
        <tr>
          <td>Active</td>
          <td>{{ instance.is_active|boolean_as_icon }}</td>
        </tr>
        <tr>
          <td>Last update</td>
          <td>{{ instance.updated|date_span }}</td>
        </tr>
        {% if instance.data_source %}
        <tr>
          <td>Data source</td>
          <td>{{ instance.data_source|as_link }}</td>
        </tr>
        {% endif %}
        {% if instance.data_file or instance.data_path %}
        <tr>
          <td>Data file</td>
          <td>
            {% if instance.data_file %}
            {{ instance.data_file|as_link }}
            {% elif instance.data_path %}
            <div class="float-right text-warning">
              <i class="fa-solid fa-triangle-exclamation" title="The data file associated with this configuration has been deleted."></i>
            </div>
            <span class="text-monospace">{{ instance.data_path }}</span>
            {% endif %}
          </td>
        </tr>
        {% endif %}
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-2">
      <div class="card-header">
        <strong>Data</strong>
        {% include 'includes/configcontext_format.html' with format=configcontext_format %}
      </div>
      {% include 'includes/configcontext_data.html' with data=instance.data format=configcontext_format %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    {% render_table assignments_table 'includes/table.html' %}
    {% include 'includes/pagination.html' with paginator=assignments_table.paginator page=assignments_table.page %}
  </div>
</div>
{% endblock %}
