{% extends '_base.html' %}
{% load helpers %}
{% block actions %}
{% if perms.peering.change_autonomoussystem %}
<a href="{% url 'peering:autonomoussystem_edit' asn=instance.asn %}" class="btn btn-warning">
  <i class="fas fa-edit"></i> Edit
</a>
{% endif %}
{% if perms.peering.delete_autonomoussystem %}
<a href="{% url 'peering:autonomoussystem_delete' asn=instance.asn %}" class="btn btn-danger">
  <i class="fas fa-trash"></i> Delete
</a>
{% endif %}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'peering:autonomoussystem_list' %}">Autonomous Systems</a></li>
<li class="breadcrumb-item active" aria-current="page">{% block title %}{{ instance }}{% endblock %}</li>
{% endblock %}
{% block content %}
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link{% if request.path|notcontains:'/direct-peering-sessions/,/ix-peering-sessions/,/contacts/,/email/,/peers/' %} active{% endif %}" href="{% url 'peering:autonomoussystem_details' asn=instance.asn %}">
            <i class="fas fa-info-circle"></i> Details
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path|contains:'/direct-peering-sessions/' %} active{% endif %}" href="{% url 'peering:autonomoussystem_direct_peering_sessions' asn=instance.asn %}">
            <i class="fas fa-ethernet"></i> Direct Peering Sessions
          </a>
        </li>
        {% if instance.get_peering_sessions|length > 0 %}
        <li class="nav-item">
          <a class="nav-link{% if request.path|contains:'/ix-peering-sessions/' %} active{% endif %}" href="{% url 'peering:autonomoussystem_internet_exchange_peering_sessions' asn=instance.asn %}">
            <i class="fas fa-network-wired"></i> IX Peering Sessions
          </a>
        </li>
        {% endif %}
        {% missing_sessions instance as has_missing_sessions %}
        {% if has_missing_sessions %}
        <li class="nav-item">
          <a class="nav-link{% if request.path|contains:'/peers/' %} active{% endif %}" href="{% url 'peering:autonomoussystem_peers' asn=instance.asn %}">
            <i class="fas fa-link"></i> Available Sessions
          </a>
        </li>
        {% endif %}
        {% if instance.peeringdb_contacts|length > 0 %}
        <li class="nav-item">
          <a class="nav-link{% if request.path|contains:'/contacts/' %} active{% endif %}" href="{% url 'peering:autonomoussystem_contacts' asn=instance.asn %}">
            <i class="fas fa-address-book"></i> PeeringDB Contacts
          </a>
        </li>
        {% endif %}
        {% if perms.peering.send_email and instance.can_receive_email %}
        <li class="nav-item">
          <a class="nav-link{% if request.path|contains:'/email/' %} active{% endif %}" href="{% url 'peering:autonomoussystem_email' asn=instance.asn %}">
            <i class="fas fa-envelope-open-text"></i> Send E-mail
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Last updated: {{ instance.updated }}</a>
        </li>
      </ul>
      {% block subcontent %}{% endblock %}
{% endblock %}
