{% extends '_base.html' %}
{% block content %}
      <div class="row">
        <div class="col-10 justify-content-center">
          <h1>{% block title %}{% endblock %}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
            <a class="nav-link {% ifequal active_tab "profile" %} active{% endifequal %}" role="tab" href="{% url 'user_profile' %}">Profile</a>
            <a class="nav-link {% ifequal active_tab "password" %} active{% endifequal %}" role="tab" href="{% url 'user_change_password' %}">Change Password</a>
          </div>
        </div>
        <div class="col-md-8">
          {% block user_content %}{% endblock %}
        </div>
      </div>
{% endblock %}
