{% extends 'user/_user.html' %}
{% block title %}Synchronization Logs{% endblock %}
{% block user_content %}
          <table class="table table-hover">
            <thead><tr>
              <th>Time</th>
              <th>Objects Added</th>
              <th>Objects Updated</th>
              <th>Objects Deleted</th>
            </tr></thead>
            <tbody>
              {% for synchronization in synchronizations %}
              <tr>
                <td>{{ synchronization.time|date:'SHORT_DATETIME_FORMAT' }}</td>
                <td>{{ synchronization.added }}</td>
                <td>{{ synchronization.updated }}</td>
                <td>{{ synchronization.deleted }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
{% endblock %}
