---
name: CI
on:
  - push
  - pull_request

jobs:
  uv-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Validate pyproject.toml and uv.lock
        run: uv lock --locked --offline --no-cache --check

  python-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync --only-dev
      - name: Run Ruff formatter
        run: uv run ruff format --check --diff

  tests:
    runs-on: ubuntu-latest
    needs:
      - uv-check
      - python-lint
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    services:
      postgres:
        image: postgres:14
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: peering_manager
          POSTGRES_USER: devbox
          POSTGRES_PASSWORD: devbox
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis:6
        ports:
          - 6379:6379
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Setup environment
        run: cp peering_manager/configuration.example.py peering_manager/configuration.py
      - name: Install dependencies
        run: uv sync --locked --all-groups
      - name: Build documentation
        run: uv run mkdocs build
      - name: Collect static files
        run: uv run python manage.py collectstatic --no-input
      - name: Check for missing migrations
        run: uv run python manage.py makemigrations --check
      - name: Run tests
        run: uv run coverage run manage.py test
      - name: Generate coverage report
        run: uv run coverage xml -i
      - name: Report coverage
        uses: coverallsapp/github-action@v2
        with:
          flag-name: run-${{ join(matrix.*, '-') }}
          parallel: true
          github-token: ${{ secrets.GITHUB_TOKEN }}

  finish:
    runs-on: ubuntu-latest
    needs:
      - tests
    if: always() && !cancelled()
    steps:
      - name: Complete coverage report
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
          carryforward: run-3.10,run-3.11,run-3.12,run-3.13,run-3.14
          github-token: ${{ secrets.GITHUB_TOKEN }}
