---
name: CI
on:
  - push
  - pull_request

jobs:
  black:
    name: black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run tox -e black
        run: tox
        env:
          TOXENV: black

  isort:
    name: isort
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run tox -e isort
        run: tox
        env:
          TOXENV: isort

  tests:
    name: tests
    runs-on: ubuntu-latest
    needs: [black, isort]
    if: github.event_name == 'push'
    strategy:
      matrix:
        toxenv:
          - py36
          - py37
          - py38
          - py39
          - py310
        include:
          - toxenv: py36
            python-version: "3.6"
          - toxenv: py37
            python-version: "3.7"
          - toxenv: py38
            python-version: "3.8"
          - toxenv: py39
            python-version: "3.9"
          - toxenv: py310
            python-version: "3.10"
    services:
      postgres:
        image: postgres:9.6
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: peering_manager
          POSTGRES_USER: devbox
          POSTGRES_PASSWORD: devbox
      redis:
        image: redis:6.0
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox coveralls
      - name: Run tox
        run: tox
        env:
          TOXENV: ${{ matrix.toxenv }}
      - name: Run coveralls
        run: coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        continue-on-error: true
